<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>Doccure</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="assets/css/feather.css">

	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">

	<!-- Slick slider CSS -->
	<link rel="stylesheet" href="assets/css/slick.css">

	<!-- select CSS -->
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

	<!-- Animation CSS -->
	<link rel="stylesheet" href="assets/css/aos.css">
	<link rel="stylesheet" href="assets/css/animate.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/custom.css">

</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper home-fifteen">

		<!-- Header -->
		<header class="header header-fixed header-fourteen header-fifteen">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="assets/img/logo-15.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="has-submenu megamenu active">
								<a href="javascript:void(0);">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu mega-submenu">
									<li>
										<div class="megamenu-wrapper">
											<div class="row">
												<div class="col-lg-2">
													<div class="single-demo ">
														<div class="demo-img">
															<a href="index.html" class="inner-demo-img"><img
																	src="assets/img/home-11.jpg" class="img-fluid "
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index.html" class="inner-demo-img">General Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-2.html" class="inner-demo-img"><img
																	src="assets/img/home-10.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-2.html" class="inner-demo-img">General Home 2</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-3.html" class="inner-demo-img"><img
																	src="assets/img/home-09.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-3.html" class="inner-demo-img">General Home 3</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-4.html" class="inner-demo-img"><img
																	src="assets/img/home-08.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-4.html" class="inner-demo-img">General Home 4</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-5.html" class="inner-demo-img"><img
																	src="assets/img/home-07.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-5.html" class="inner-demo-img">Cardiology
																Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-6.html" class="inner-demo-img"><img
																	src="assets/img/home-06.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-6.html" class="inner-demo-img">Eye Care Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-7.html" class="inner-demo-img"><img
																	src="assets/img/home-05.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-7.html" class="inner-demo-img">Veterinary
																Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-8.html" class="inner-demo-img"><img
																	src="assets/img/home-04.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-8.html" class="inner-demo-img">Paediatric
																Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-9.html" class="inner-demo-img"><img
																	src="assets/img/home-03.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-9.html" class="inner-demo-img">Fertility Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo active">
														<div class="demo-img">
															<a href="index-10.html" class="inner-demo-img"><img
																	src="assets/img/home-02.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-10.html" class="inner-demo-img">ENT Hospital
																Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-11.html" class="inner-demo-img"><img
																	src="assets/img/home-01.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-11.html" class="inner-demo-img">Cosmetics Home</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Doctors <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
									<li><a href="appointments.html">Appointments</a></li>
									<li><a href="schedule-timings.html">Schedule Timing</a></li>
									<li><a href="my-patients.html">Patients List</a></li>
									<li><a href="patient-profile.html">Patients Profile</a></li>
									<li><a href="chat-doctor.html">Chat</a></li>
									<li><a href="invoices.html">Invoices</a></li>
									<li><a href="doctor-profile-settings.html">Profile Settings</a></li>
									<li><a href="reviews.html">Reviews</a></li>
									<li><a href="doctor-register.html">Doctor Register</a></li>
									<li class="has-submenu">
										<a href="doctor-blog.html">Blog</a>
										<ul class="submenu">
											<li><a href="doctor-blog.html">Blog</a></li>
											<li><a href="blog-details.html">Blog view</a></li>
											<li><a href="doctor-add-blog.html">Add Blog</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Patients <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu">
										<a href="javascript:void(0);">Doctors</a>
										<ul class="submenu inner-submenu">
											<li><a href="map-grid.html">Map Grid</a></li>
											<li><a href="map-list.html">Map List</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Search Doctor</a>
										<ul class="submenu inner-submenu">
											<li><a href="search.html">Search Doctor 1</a></li>
											<li><a href="search-2.html">Search Doctor 2</a></li>
										</ul>
									</li>
									<li><a href="doctor-profile.html">Doctor Profile</a></li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Booking</a>
										<ul class="submenu inner-submenu">
											<li><a href="booking.html">Booking 1</a></li>
											<li><a href="booking-2.html">Booking 2</a></li>
										</ul>
									</li>
									<li><a href="checkout.html">Checkout</a></li>
									<li><a href="booking-success.html">Booking Success</a></li>
									<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
									<li><a href="favourites.html">Favourites</a></li>
									<li><a href="chat.html">Chat</a></li>
									<li><a href="profile-settings.html">Profile Settings</a></li>
									<li><a href="change-password.html">Change Password</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Pharmacy <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="pharmacy-index.html">Pharmacy</a></li>
									<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
									<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
									<li><a href="product-all.html">Product</a></li>
									<li><a href="product-description.html">Product Description</a></li>
									<li><a href="cart.html">Cart</a></li>
									<li><a href="product-checkout.html">Product Checkout</a></li>
									<li><a href="payment-success.html">Payment Success</a></li>
									<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Call</a>
										<ul class="submenu inner-submenu">
											<li><a href="voice-call.html">Voice Call</a></li>
											<li><a href="video-call.html">Video Call</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Invoices</a>
										<ul class="submenu inner-submenu">
											<li><a href="invoices.html">Invoices</a></li>
											<li><a href="invoice-view.html">Invoice View</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Authentication</a>
										<ul class="submenu inner-submenu">
											<li><a href="login-email.html">Login Email</a></li>
											<li><a href="login-phone.html">Login Phone</a></li>
											<li><a href="doctor-signup.html">Doctor Signup</a></li>
											<li><a href="patient-signup.html">Patient Signup</a></li>
											<li><a href="forgot-password.html">Forgot Password 1</a></li>
											<li><a href="forgot-password2.html">Forgot Password 2</a></li>
											<li><a href="login-email-otp.html">Email OTP</a></li>
											<li><a href="login-phone-otp.html">Phone OTP</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Error Pages</a>
										<ul class="submenu inner-submenu">
											<li><a href="error-404.html">404 Error</a></li>
											<li><a href="error-500.html">500 Error</a></li>
										</ul>
									</li>
									<li><a href="blank-page.html">Starter Page</a></li>
									<li><a href="pricing.html">Pricing Plan</a></li>
									<li><a href="faq.html">FAQ</a></li>
									<li><a href="maintenance.html">Maintenance</a></li>
									<li><a href="coming-soon.html">Coming Soon</a></li>
									<li><a href="terms-condition.html">Terms & Condition</a></li>
									<li><a href="privacy-policy.html">Privacy Policy</a></li>
									<li><a href="components.html">Components</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">Blog <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="blog-list.html">Blog List</a></li>
									<li><a href="blog-grid.html">Blog Grid</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">Admin <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="admin/index.html" target="_blank">Admin</a></li>
									<li><a href="pharmacy/index.html" target="_blank">Pharmacy Admin</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<ul class="nav header-navbar-rht">
						<li class="login-link"><a href="login-email.html">Login / Signup</a></li>
						<li class="login-in-fourteen">
							<a href="signup.html" class="btn reg-btn"><i class="feather-video me-2"></i>Live Demo</a>
						</li>
						<li class="login-in-fourteen">
							<a href="login-email.html" class="btn btn-primary reg-btn reg-btn-fourteen"><i
									class="feather-shopping-cart me-2"></i>Buy Template</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- /Header -->

		<!-- Home Banner -->
		<section class="banner-section-fifteen">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="banner-content banner-content-fifteen aos" data-aos="fade-up">
							<h2>Painless, Safe Service</h2>
							<h1>Hear what you have been Missing</h1>
							<div class="banner-btns-fifteen">
								<a href="appointments.html" class="btn btn-primary me-2">Make an Appointment</a>
								<a href="booking.html" class="btn btn-primary btns-primarytwo">Quick Consultation</a>
							</div>
							<div class="aboutus-companyimg">
								<a href="">
									<img src="assets/img/banner-fifteen-vd.jpg" alt="image" class="img-fluid">
								</a>
								<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#video">
									<div class="playicon">
										<span>
											<i class="fa-solid fa-play"></i>
										</span>
									</div>
								</a>
							</div>
							<div class="watch-video-fifteen">
								<img src="assets/img/icons/fifteen-play.svg" alt="">
								<h6>Watch Video About Us</h6>
							</div>
							<div class="support-consult-main">
								<div class="support-consult">
									<div class="support-consult-img">
										<img src="assets/img/icons/customer-service-2.svg" alt="">
									</div>
									<div class="support-consult-right">
										<h6>24/7 Support</h6>
										<div class="rating rating-fifteen">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
										</div>
									</div>
								</div>
								<div class="support-consult">
									<div class="support-consult-img">
										<img src="assets/img/icons/customer-service-1.svg" alt="">
									</div>
									<div class="support-consult-right">
										<h6>Online Consultation</h6>
										<span>Just 60 Secs</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="banner-right-fifteen">
							<img src="assets/img/banner-fifteen-ryt.png" alt="image" class="img-fluid">
							<div class="banner-right-fifteenone">
								<img src="assets/img/ban-fift-icon1.png" alt="">
							</div>
							<div class="banner-right-fifteentwo">
								<img src="assets/img/ban-fift-icon2.png" alt="">
							</div>
							<div class="banner-right-fifteenthree">
								<img src="assets/img/ban-fift-icon3.png" alt="">
							</div>
							<div class="banner-right-fifteenfour">
								<img src="assets/img/ban-fift-icon4.png" alt="">
							</div>
							<div class="banner-right-fifteenfive">
								<img src="assets/img/ban-fift-icon5.png" alt="">
							</div>
							<div class="banner-right-fifteensix">
								<img src="assets/img/ban-fift-icon6.png" alt="">
							</div>
							<div class="banner-right-fifteenseven">
								<img src="assets/img/ban-fift-icon7.png" alt="">
							</div>
							<div class="banner-right-fifteeneight">
								<img src="assets/img/ban-fift-icon8.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Home Banner -->

		<!-- services Section -->
		<section class="services-section-fifteen">
			<div class="service-bg-icon">
				<img src="assets/img/serive-bg-icon.png" alt="">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-header-fifteen text-center">
							<h2>Our <span>Services</span></h2>
							<p>Our goal is to give the patient maximum relief within minimal pain inflicted</p>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6">
						<div class="item">
							<div class="doctor-profile-widget-fifteen">
								<div class="doc-pro-img">
									<a href="doctor-profile.html">
										<div class="doctor-profile-img">
											<img src="assets/img/service/service-3.jpg" class="img-fluid" alt="">
										</div>
									</a>
								</div>
								<div class="doc-content-bottom">
									<div class="doc-content-split">
										<a href="doctor-profile.html">EAR Treatment</a>
										<span>5+ Services</span>
									</div>
									<p>Surgery for the human sensory organs like the ear requires precision to achieve
										desirable results.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="item">
							<div class="doctor-profile-widget-fifteen">
								<div class="doc-pro-img">
									<a href="doctor-profile.html">
										<div class="doctor-profile-img">
											<img src="assets/img/service/service-2.jpg" class="img-fluid" alt="">
										</div>
									</a>
								</div>
								<div class="doc-content-bottom">
									<div class="doc-content-split">
										<a href="doctor-profile.html">Nose and Sinus</a>
										<span>10+ Services</span>
									</div>
									<p>The cranial aspect of the human body commanded respect from patients and doctors
										alike.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="item">
							<div class="doctor-profile-widget-fifteen">
								<div class="doc-pro-img">
									<a href="doctor-profile.html">
										<div class="doctor-profile-img">
											<img src="assets/img/service/service-1.jpg" class="img-fluid" alt="">
										</div>
									</a>
								</div>
								<div class="doc-content-bottom">
									<div class="doc-content-split">
										<a href="doctor-profile.html">Throat / Larynx Surgery</a>
										<span>15+ Services</span>
									</div>
									<p>Laryngoplasty was introduced and popularised by Isshiki in the 1970’s.</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- /services Section -->

		<!-- Patients Section -->
		<div class="Patients-section-fifteen">
			<div class="patient-fifteen-icon">
				<img src="assets/img/fifteen-bg-icon-3.png" alt="">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="patients-left-front patients-left-img">
							<img src="assets/img/patients-img-fifteen.png" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="section-header-fifteen section-header-fifteenpatient">
							<h2>Who <span>We Are</span></h2>
							<p>Our goal is to give the patient maximum relief within minimal pain inflicted</p>
						</div>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
							unknown
							printer took a galley of type and scrambled it to make a type specimen book.
							It has survived not only five centuries</p>
						<p>It is a long established fact that a reader will be distracted by the readable content of a
							page when looking at its layout.
							The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
						</p>
						<div class="row">
							<div class="col-md-4">
								<div class="service-patient-inflict">
									<div class="service-patient-inflictimg">
										<span>
											<img src="assets/img/icons/we-are-icon1.svg" alt="">
										</span>
									</div>
									<div class="clients-fifteen-span">
										<h3 class="counter">14,500</h3>
									</div>
									<h6>ENT Surgery</h6>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service-patient-inflict">
									<div class="service-patient-inflictimg">
										<span>
											<img src="assets/img/icons/we-are-icon2.svg" alt="">
										</span>
									</div>
									<div class="clients-fifteen-span">
										<h3 class="counter">50,000</h3>
										<span>+</span>
									</div>
									<h6>Happy Patients</h6>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service-patient-inflict">
									<div class="service-patient-inflictimg">
										<span>
											<img src="assets/img/icons/we-are-icon3.svg" alt="">
										</span>
									</div>
									<div class="clients-fifteen-span">
										<h3 class="counter">30</h3>
										<span>+</span>
									</div>
									<h6>Years of Service</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Patients Section -->

		<!-- Doctors section -->
		<div class="doctors-section-fifteen">
			<div class="doctor-fifteen-icon">
				<img src="assets/img/fifteen-bg-icon-2.png" alt="">
			</div>
			<div class="doctors-fifteen-icon">
				<img src="assets/img/fifteen-bg-icon-1.png" alt="" class="aos" data-aos="fade-down">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-header-fifteen text-center">
							<h2>Our <span>Expert Doctors</span></h2>
							<p>The Great Place Of ENT Hospital Center</p>
						</div>
					</div>
				</div>
				<div class="owl-carousel doctor-slider-fifteen owl-theme aos" data-aos="fade-up">
					<div class="item item-fifteen">
						<div class="doctor-profile-widget">
							<div class="doc-pro-img">
								<a href="doctor-profile.html">
									<div class="doctor-profile-img">
										<img src="assets/img/doctors/doctor-11.jpg" class="img-fluid" alt="">
									</div>
								</a>
								<div class="doctor-amount">
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>
								</div>
								<div class="item-info">
									<h6>15+ Years Experience</h6>
								</div>
							</div>
							<div class="doc-content-fift">
								<a href="doctor-profile.html">Dr. Brandon Nicholas</a>
								<p>Ear-Nose-Throat (ENT) Specialist</p>
								<div class="rate-fifteen">
									<div class="rate-four">
										<i class="fas fa-star filled me-2"></i><span>4.8</span>
									</div>
									<ul>
										<li>
											Mo
										</li>
										<li>
											Tu
										</li>
										<li>
											We
										</li>
										<li>
											Th
										</li>
										<li>
											Fr
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="item item-fifteen">
						<div class="doctor-profile-widget">
							<div class="doc-pro-img">
								<a href="doctor-profile.html">
									<div class="doctor-profile-img">
										<img src="assets/img/doctors/doctor-03.jpg" class="img-fluid" alt="">
									</div>
								</a>
								<div class="doctor-amount">
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>
								</div>
								<div class="item-info">
									<h6>09+ Years Experience</h6>
								</div>
							</div>
							<div class="doc-content-fift">
								<a href="doctor-profile.html">Dr. Katherine Victoria</a>
								<p>MBBS, MS - ENT</p>
								<div class="rate-fifteen">
									<div class="rate-four">
										<i class="fas fa-star filled me-2"></i><span>4.9</span>
									</div>
									<ul>
										<li>
											Mo
										</li>
										<li>
											Tu
										</li>
										<li>
											We
										</li>
										<li>
											Th
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="item item-fifteen">
						<div class="doctor-profile-widget">
							<div class="doc-pro-img">
								<a href="doctor-profile.html">
									<div class="doctor-profile-img">
										<img src="assets/img/doctors/doctor-07.jpg" class="img-fluid" alt="">
									</div>
								</a>
								<div class="doctor-amount">
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>
								</div>
								<div class="item-info">
									<h6>10+ Years Experience</h6>
								</div>
							</div>
							<div class="doc-content-fift">
								<a href="doctor-profile.html">Dr. Lisa Madeleine</a>
								<p>MBBS, MS - ENT</p>
								<div class="rate-fifteen">
									<div class="rate-four">
										<i class="fas fa-star filled me-2"></i><span>4.8</span>
									</div>
									<ul>
										<li>
											Mo
										</li>
										<li>
											Tu
										</li>
										<li>
											We
										</li>
										<li>
											Th
										</li>
										<li>
											Fr
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="item item-fifteen">
						<div class="doctor-profile-widget">
							<div class="doc-pro-img">
								<a href="doctor-profile.html">
									<div class="doctor-profile-img">
										<img src="assets/img/doctors/doctor-09.jpg" class="img-fluid" alt="">
									</div>
								</a>
								<div class="doctor-amount">
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>
								</div>
								<div class="item-info">
									<h6>15+ Years Experience</h6>
								</div>
							</div>
							<div class="doc-content-fift">
								<a href="doctor-profile.html">Dr. Brandon Nicholas</a>
								<p>Ear-Nose-Throat (ENT) Specialist</p>
								<div class="rate-fifteen">
									<div class="rate-four">
										<i class="fas fa-star filled me-2"></i><span>4.8</span>
									</div>
									<ul>
										<li>
											Mo
										</li>
										<li>
											Tu
										</li>
										<li>
											We
										</li>
										<li>
											Th
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /blog section -->

		<!-- Pharmacy Section -->
		<section class="pharmacy-section-fifteen">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-header-fifteen text-center">
							<h2>Online <span>Pharmacy Store</span></h2>
							<p>More the quantity, higher the discount. Hurry, Buy Now!</p>
						</div>
					</div>
				</div>
				<div class="owl-carousel pharmacy-slider-fifteen owl-theme aos" data-aos="fade-up">
					<div class="item item-fifteen">
						<div class="doctor-profile-widget doctor-profile-widget-fift">
							<div class="doc-pro-img doc-pro-img-fifteen">
								<a href="doctor-profile.html">
									<div class="doctor-profile-img doctor-profile-img-fifteen">
										<img src="assets/img/pharmacy-1.png" class="img-fluid" alt="">
									</div>
								</a>
								<div class="doctor-amount">
									<a href="javascript:void(0)" class="fav-icon fav-icon-fifteen">
										<i class="feather-heart"></i>
									</a>
								</div>
								<div class="item-info">
									<h6>10% Off</h6>
								</div>
							</div>
							<div class="doc-content-fift">
								<a href="">Otogesic Ear Drops</a>
								<p><span>Sold by:</span> ERIS LIFESCIENCES LTD</p>
								<div class="rate-fifteen">
									<div class="rate-four">
										<span>In Stock</span>
									</div>
									<ul class="fift-rate">
										<li>
											5ml
										</li>
										<li>
											10ml
										</li>
									</ul>
								</div>
								<div class="fift-bottom-content">
									<h3>$25.00<span class="ms-2">$35.00</span></h3>
									<a href="add-prescription.html">Add to Cart</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item item-fifteen">
						<div class="doctor-profile-widget doctor-profile-widget-fift">
							<div class="doc-pro-img doc-pro-img-fifteen">
								<a href="doctor-profile.html">
									<div class="doctor-profile-img doctor-profile-img-fifteen">
										<img src="assets/img/pharmacy-2.png" class="img-fluid" alt="">
									</div>
								</a>
								<div class="doctor-amount">
									<a href="javascript:void(0)" class="fav-icon fav-icon-fifteen">
										<i class="feather-heart"></i>
									</a>
								</div>
								<div class="item-info">
									<h6>15% Off</h6>
								</div>
							</div>
							<div class="doc-content-fift">
								<a href="">Himalaya Bresol</a>
								<p><span>Sold by:</span>THE HIMALAYA DRUG</p>
								<div class="rate-fifteen">
									<div class="rate-four">
										<span>In Stock</span>
									</div>
									<ul class="fift-rate">
										<li>
											5ml
										</li>
										<li>
											10ml
										</li>
									</ul>
								</div>
								<div class="fift-bottom-content">
									<h3>$85.00<span class="ms-2">$65.00</span></h3>
									<a href="add-prescription.html">Add to Cart</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item item-fifteen">
						<div class="doctor-profile-widget doctor-profile-widget-fift">
							<div class="doc-pro-img doc-pro-img-fifteen">
								<a href="doctor-profile.html">
									<div class="doctor-profile-img doctor-profile-img-fifteen">
										<img src="assets/img/pharmacy-3.png" class="img-fluid" alt="">
									</div>
								</a>
								<div class="doctor-amount">
									<a href="javascript:void(0)" class="fav-icon fav-icon-fifteen">
										<i class="feather-heart"></i>
									</a>
								</div>
								<div class="item-info">
									<h6>10% Off</h6>
								</div>
							</div>
							<div class="doc-content-fift">
								<a href="">Boiron, ThroatCalm</a>
								<p><span>Sold by:</span> BOIRON</p>
								<div class="rate-fifteen">
									<div class="rate-four">
										<span>In Stock</span>
									</div>
									<ul class="fift-rate">
										<li>
											5ml
										</li>
										<li>
											10ml
										</li>
									</ul>
								</div>
								<div class="fift-bottom-content">
									<h3>$55.00<span class="ms-2">$95.00</span></h3>
									<a href="add-prescription.html">Add to Cart</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item item-fifteen">
						<div class="doctor-profile-widget doctor-profile-widget-fift">
							<div class="doc-pro-img doc-pro-img-fifteen">
								<a href="doctor-profile.html">
									<div class="doctor-profile-img doctor-profile-img-fifteen">
										<img src="assets/img/pharmacy-1.png" class="img-fluid" alt="">
									</div>
								</a>
								<div class="doctor-amount">
									<a href="javascript:void(0)" class="fav-icon fav-icon-fifteen">
										<i class="feather-heart"></i>
									</a>
								</div>
								<div class="item-info">
									<h6>10% Off</h6>
								</div>
							</div>
							<div class="doc-content-fift">
								<a href="">Otogesic Ear Drops</a>
								<p><span>Sold by:</span> ERIS LIFESCIENCES LTD</p>
								<div class="rate-fifteen">
									<div class="rate-four">
										<span>In Stock</span>
									</div>
									<ul class="fift-rate">
										<li>
											5ml
										</li>
										<li>
											10ml
										</li>
									</ul>
								</div>
								<div class="fift-bottom-content">
									<h3>$25.00<span class="ms-2">$35.00</span></h3>
									<a href="add-prescription.html">Add to Cart</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Pharmacy section -->

		<!-- Feedback -->
		<section class="feedback-section-fifteen">
			<div class="container">
				<div class="feedback-schedule-all">
					<div class="row">
						<div class="col-lg-5">
							<div class="feedback-inner-main">
								<img src="assets/img/feedback-fifteen.png" alt="image" class="img-fluid">
							</div>
						</div>
						<div class="col-lg-7">
							<div class="feedback-fifteen-content">
								<div class="feedback-fift-img">
									<img src="assets/img/logo-03.png" alt="">
								</div>
								<h3>Consult top doctors online for any health concern</h3>
								<p>Connect within 60secs</p>
								<a href="">Signup Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Feedback -->

		<!-- contact -->
		<section class="appointment-section-fifteen">
			<div class="container">
				<div class="row ">
					<div class="col-lg-7">
						<div class="appointment-schedule-main">
							<h2>Book Appointment</h2>
							<h6>More the quantity, higher the discount. Hurry, Buy Now!</h6>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
								when an unknown printer took a galley of type and scrambled it to make a type specimen
								book.
							</p>
							<ul>
								<li>
									<div class="appointment-schedule-img">
										<img src="assets/img/icons/experience-4.svg" alt="">
										<div class="appoint-inner-img">
											<img src="assets/img/icons/experience-3.svg">
										</div>
									</div>
									<span>Find Experience Doctors</span>
								</li>
								<li>
									<div class="appointment-schedule-img">
										<img src="assets/img/icons/experience-5.svg" alt="">
										<div class="appoint-inner-img">
											<img src="assets/img/icons/experience-1.svg" alt="">
										</div>
									</div>
									<span>Share your
										Health Issues</span>
								</li>
								<li>
									<div class="appointment-schedule-img">
										<img src="assets/img/icons/experience-6.svg" alt="">
										<div class="appoint-inner-img">
											<img src="assets/img/icons/experience-2.svg" alt="">
										</div>
									</div>
									<span>Get solution
										about health</span>
								</li>
							</ul>
							<a href="booking-2.html">Book an Appointment</a>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="appointment-right-image appoint-fift-img">
							<img src="assets/img/appointment-ryt-1.png" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /contact -->

		<!-- Patient About us -->
		<section class="about-us-section-fifteen">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-header-fifteen text-center">
							<h2>Our <span>Patients Says</span></h2>
							<p>What our Patients say about us</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="aboutus-img-main">
							<img src="assets/img/aboutus-fift-1.jpg" alt="image" class="img-fluid">
							<div class="aboutus-img-one">
								<img src="assets/img/icons/aboutus-icon1.svg" alt="">
							</div>
						</div>
					</div>
					<div class="col-lg-6 position-relative">
						<div class="slider vertical-slider">
							<div class="aboutus-fifteen-main">
								<div class="aboutus-profile-left">
									<div class="aboutus-image">
										<img src="assets/img/clients/client-01.jpg" alt="" class="img-fluid">
									</div>
									<div class="aboutus-contents">
										<h6>Madeleine Jennifer</h6>
										<span>Chennai, Tamilnadu</span>
									</div>
								</div>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
									when an unknown printer took a galley of type and scrambled it to make a type
									specimen book.</p>
							</div>
							<div class="aboutus-fifteen-main">
								<div class="aboutus-profile-left">
									<div class="aboutus-image">
										<img src="assets/img/clients/client-01.jpg" alt="" class="img-fluid">
									</div>
									<div class="aboutus-contents">
										<h6>Madeleine Jennifer</h6>
										<span>Chennai, Tamilnadu</span>
									</div>
								</div>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
									when an unknown printer took a galley of type and scrambled it to make a type
									specimen book.</p>
							</div>
							<div class="aboutus-fifteen-main">
								<div class="aboutus-profile-left">
									<div class="aboutus-image">
										<img src="assets/img/clients/client-02.jpg" alt="" class="img-fluid">
									</div>
									<div class="aboutus-contents">
										<h6>Madeleine Jennifer</h6>
										<span>Chennai, Tamilnadu</span>
									</div>
								</div>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
									when an unknown printer took a galley of type and scrambled it to make a type
									specimen book.</p>
							</div>
							<div class="aboutus-fifteen-main">
								<div class="aboutus-profile-left">
									<div class="aboutus-image">
										<img src="assets/img/clients/client-03.jpg" alt="" class="img-fluid">
									</div>
									<div class="aboutus-contents">
										<h6>Madeleine Jennifer</h6>
										<span>Chennai, Tamilnadu</span>
									</div>
								</div>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
									when an unknown printer took a galley of type and scrambled it to make a type
									specimen book.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Patient About us -->

		<!-- Frequent section -->
		<section class="frequently-section-fifteen">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-header-fifteen text-center">
							<h2>Frequently <span>Asked Questions</span></h2>
							<p>What our clients say about us</p>
						</div>
					</div>
				</div>
				<div class="owl-carousel frequent-slider-fifteen owl-theme">
					<div class="items-fift">
						<a href="javascript:">What is an otolaryngologist?</a>
						<p>An otolaryngologist is a doctor who specializes in the diagnosis and treatment of ear, nose
							and throat diseases as well as related structures of the head and neck. Otolaryngologists
							are also referred to as ENT doctors or physicians. For more information.
						</p>
						<a href="faq.html" class="line-arrow">Read More<i class="feather-arrow-right-circle ms-2"></i></a>
					</div>
					<div class="items-fift">
						<a href="javascript:">What is the treatment ear infection?</a>
						<p>The majority of ear infections will run their course in about a week. Pain can be managed
							with over-the-counter medications, eardrops, and warm compresses. If a bacterial infection
							is the cause, antibiotics are prescribed. Children who experience.
						</p>
						<a href="" class="line-arrow">Read More<i class="feather-arrow-right-circle ms-2"></i></a>
					</div>
					<div class="items-fift">
						<a href="faq.html">What is obstructive sleep apnea?</a>
						<p>Obstructive sleep apnea (OSA) is a condition in which an individual’s breathing stops
							periodically during sleep. These episodes can last ten seconds or longer and may occur
							hundreds of times each night, preventing restorative sleep.
						</p>
						<a href="faq.html" class="line-arrow">Read More<i class="feather-arrow-right-circle ms-2"></i></a>
					</div>
					<div class="items-fift">
						<a href="javascript:">What is an otolaryngologist?</a>
						<p>An otolaryngologist is a doctor who specializes in the diagnosis and treatment of ear,
							nose and throat diseases as well as related structures of the head and neck.
							Otolaryngologists are also referred to as ENT doctors or physicians. For more information
						</p>
						<a href="faq.html" class="line-arrow">Read More<i class="feather-arrow-right-circle ms-2"></i></a>
					</div>
					<div class="items-fift">
						<a href="javascript:">What is an otolaryngologist?</a>
						<p>An otolaryngologist is a doctor who specializes in the diagnosis and treatment of ear,
							nose and throat diseases as well as related structures of the head and neck.
							Otolaryngologists are also referred to as ENT doctors or physicians. For more information
						</p>
						<a href="faq.html" class="line-arrow">Read More<i class="feather-arrow-right-circle ms-2"></i></a>
					</div>
					<div class="items-fift">
						<a href="javascript:">What is the treatment ear infection?</a>
						<p>An otolaryngologist is a doctor who specializes in the diagnosis and treatment of ear,
							nose and throat diseases as well as related structures of the head and neck.
							Otolaryngologists are also referred to as ENT doctors or physicians. For more information
						</p>
						<a href="faq.html" class="line-arrow">Read More<i class="feather-arrow-right-circle ms-2"></i></a>
					</div>
					<div class="items-fift">
						<a href="javascript:">What is the treatment ear infection?</a>
						<p>An otolaryngologist is a doctor who specializes in the diagnosis and treatment of ear,
							nose and throat diseases as well as related structures of the head and neck.
							Otolaryngologists are also referred to as ENT doctors or physicians. For more information
						</p>
						<a href="faq.html" class="line-arrow">Read More<i class="feather-arrow-right-circle ms-2"></i></a>
					</div>
					<div class="items-fift">
						<a href="javascript:">What is the treatment ear infection?</a>
						<p>An otolaryngologist is a doctor who specializes in the diagnosis and treatment of ear,
							nose and throat diseases as well as related structures of the head and neck.
							Otolaryngologists are also referred to as ENT doctors or physicians. For more information
						</p>
						<a href="faq.html" class="line-arrow">Read More<i class="feather-arrow-right-circle ms-2"></i></a>
					</div>
				</div>
			</div>
		</section>
		<!-- /Frequent section -->

		<!-- Footer -->
		<footer class="footer footer-fifteen">
			<div class="footer-top footer-top-fifteen aos" data-aos="fade-up">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="footer-left-fifteen">
								<div class="footer-fifteen-image">
									<img src="assets/img/logo-03.png" alt="">
								</div>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum has been the industry's standard dummy text ever since the 1500s, when an
									unknown printer took a galley of type and scrambled it to make a type specimen book.
									It has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged.</p>
								<h6 class="subscribe-fifteen">Subscribe Newsletter</h6>
								<div class="subscribe-form subscribe-form-fifteen">
									<input type="email" class="form-control" placeholder="Enter Email Address">
									<button type="submit" class="btn footer-btn">
										Subscribe
									</button>
								</div>
								<h6 class="subscribe-fifteentwo">Acceptable Payments </h6>
								<div class="footer-fifteen-image-2">
									<img src="assets/img/footer-fift-payment.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="footer-right-fifteen">
								<h6 class="subscribe-fifteenthree">Quick Links</h6>
								<ul>
									<li>
										<a href="about-us.html">About</a>
									</li>
									<li>
										<a href="search-2.html">services</a>
									</li>
									<li>
										<a href="paitent-details.html">Patients</a>
									</li>
									<li>
										<a href="javascript:void(0);">Camp</a>
									</li>
									<li>
										<a href="doctor-blog.html">Doctors</a>
									</li>
									<li>
										<a href="javascript:void(0);">Treatments</a>
									</li>
									<li>
										<a href="javascript:void(0);">Facilities</a>
									</li>
								</ul>
								<h6 class="subscribe-fifteenthree">Contact</h6>
								<p>38 Simpson Street, Rock Island, Illinois - 61201</p>
								<div class="user-details-fift">
									<ul>
										<li>
											<div class="contact-fifteen">
												<div class="contact-form-fift">
													<i class="feather-phone"></i>
												</div>
												<div class="contact-content-fift">
													<h6>Phone Number</h6>
													<span>1800 - 42657678</span>
												</div>
											</div>
										</li>
										<li>
											<div class="contact-fifteen">
												<div class="contact-form-fift">
													<i class="feather-mail"></i>
												</div>
												<div class="contact-content-fift">
													<h6>Email</h6>
													<span>Doccure@example.com</span>
												</div>
											</div>
										</li>
										<li>
											<div class="contact-fifteen">
												<div class="contact-form-fift">
													<i class="feather-clock"></i>
												</div>
												<div class="contact-content-fift">
													<h6>Opening</h6>
													<span>Available
														24*7</span>
												</div>
											</div>
										</li>
									</ul>
								</div>

								<h6 class="subscribe-fifteenthree">Language and Social</h6>
								<div class="footer-fift-selects">
									<div class="footer-select">
										<img src="assets/img/icons/globe.svg" alt="img">
										<select class="select">
											<option>English</option>
											<option>Spanish</option>
											<option>Mexico</option>
										</select>
									</div>
									<div class="social-icon">
										<ul>
											<li>
												<a href="javascript:void(0);" target="_blank"><i class="fa-brands fa-facebook"></i> </a>
											</li>
											<li>
												<a href="javascript:void(0);" target="_blank"><i class="fab fa-twitter"></i> </a>
											</li>
											<li>
												<a href="javascript:void(0);" target="_blank"><i class="fa-brands fa-instagram"></i></a>
											</li>
											<li>
												<a href="javascript:void(0);" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="footer-bottom footer-bottom-fifteen">
									<div class="container">
										<!-- Copyright -->
										<div class="copyright">
											<div class="row">
												<div class="col-md-6">
													<div class="copyright-text">
														<p>© 2023 Doccure. All rights reserve.</p>
													</div>
												</div>
												<div class="col-md-6">
													<!-- Copyright Menu -->
													<div class="copyright-menu">
														<ul class="policy-menu">
															<li>
																<a href="terms-condition.html">Terms</a>
															</li>
															<li>
																<a href="privacy-policy.html">Privacy Policy</a>
															</li>
															<li>
																<a href="javascript:void(0);">Sitemap</a>
															</li>
														</ul>
													</div>
													<!-- /Copyright Menu -->
												</div>
											</div>
										</div>
										<!-- /Copyright -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- /Footer -->

		<!-- Cursor -->
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>
		<!-- /Cursor -->

	</div>
	<!-- /Main Wrapper -->

	<!-- Modal -->
	<div class="modal fade modal-content-video" id="video" tabindex="-1" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							<i class="fa fa-times" aria-hidden="true"></i>
						</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="video-home">
						<video controls id="promovideo">
							<iframe src="https://www.youtube.com/embed/ExJZAegsOis"></iframe>
						</video>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ScrollToTop -->
	<div class="progress-wrap active-progress">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
				style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;">
			</path>
		</svg>
	</div>
	<!-- /ScrollToTop -->

	<!-- jQuery -->
	<script src="assets/js/jquery-3.6.4.min.js"></script>

	<!-- Bootstrap Bundle JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Feather Icon JS -->
	<script src="assets/js/feather.min.js"></script>

	<!-- Datepicker JS -->
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/bootstrap-datetimepicker.min.js"></script>

	<!-- Owl Carousel JS -->
	<script src="assets/js/owl.carousel.min.js"></script>

	<!-- Slick JS -->
	<script src="assets/js/slick.js"></script>

	<!-- select JS -->
	<script src="assets/plugins/select2/js/select2.min.js"></script>

	<!-- Animation JS -->
	<script src="assets/js/aos.js"></script>

	<!-- counterup JS -->
	<script src="assets/js/jquery.waypoints.js"></script>
	<script src="assets/js/jquery.counterup.min.js"></script>

	<!-- BacktoTop JS -->
	<script src="assets/js/backToTop.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

</body>

</html>