<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
		<title>Doccure</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
				
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

		<!-- Feathericon CSS -->
    	<link rel="stylesheet" href="assets/css/feather.css">

    	<!-- Datepicker CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">

		<!-- Slick slider CSS -->
		<link rel="stylesheet" href="assets/css/slick.css">

		<!-- select CSS -->
		<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

		<!-- Animation CSS -->
		<link rel="stylesheet" href="assets/css/aos.css">
		<link rel="stylesheet" href="assets/css/animate.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="assets/css/custom.css">

	</head>		
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper home-sixteen">
					
			<!-- Header -->
			<header class="header header-fixed header-fourteen header-sixteen">
				<div class="container">
					<nav class="navbar navbar-expand-lg header-nav">
						<div class="navbar-header">
							<a id="mobile_btn" href="javascript:void(0);">
								<span class="bar-icon">
									<span></span>
									<span></span>
									<span></span>
								</span>
							</a>
							<a href="index.html" class="navbar-brand logo">
								<img src="assets/img/logo-15.png" class="img-fluid" alt="Logo">
							</a>
						</div>
						<div class="main-menu-wrapper">
							<div class="menu-header">
								<a href="index.html" class="menu-logo">
									<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
								</a>
								<a id="menu_close" class="menu-close" href="javascript:void(0);">
									<i class="fas fa-times"></i>
								</a>
							</div>
							<ul class="main-nav">
								<li class="has-submenu megamenu active">
									<a href="javascript:void(0);">Home <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu mega-submenu">
										<li>
											<div class="megamenu-wrapper">
												<div class="row">
													<div class="col-lg-2">
														<div class="single-demo ">
															<div class="demo-img">
																<a href="index.html" class="inner-demo-img"><img
																		src="assets/img/home-11.jpg" class="img-fluid "
																		alt="img"></a>
															</div>
															<div class="demo-info">
																<a href="index.html" class="inner-demo-img">General Home</a>
															</div>
														</div>
													</div>
													<div class="col-lg-2">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index-2.html" class="inner-demo-img"><img
																		src="assets/img/home-10.jpg" class="img-fluid"
																		alt="img"></a>
															</div>
															<div class="demo-info">
																<a href="index-2.html" class="inner-demo-img">General Home 2</a>
															</div>
														</div>
													</div>
													<div class="col-lg-2">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index-3.html" class="inner-demo-img"><img
																		src="assets/img/home-09.jpg" class="img-fluid"
																		alt="img"></a>
															</div>
															<div class="demo-info">
																<a href="index-3.html" class="inner-demo-img">General Home 3</a>
															</div>
														</div>
													</div>
													<div class="col-lg-2">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index-4.html" class="inner-demo-img"><img
																		src="assets/img/home-08.jpg" class="img-fluid"
																		alt="img"></a>
															</div>
															<div class="demo-info">
																<a href="index-4.html" class="inner-demo-img">General Home 4</a>
															</div>
														</div>
													</div>
													<div class="col-lg-2">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index-5.html" class="inner-demo-img"><img
																		src="assets/img/home-07.jpg" class="img-fluid"
																		alt="img"></a>
															</div>
															<div class="demo-info">
																<a href="index-5.html" class="inner-demo-img">Cardiology
																	Home</a>
															</div>
														</div>
													</div>
													<div class="col-lg-2">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index-6.html" class="inner-demo-img"><img
																		src="assets/img/home-06.jpg" class="img-fluid"
																		alt="img"></a>
															</div>
															<div class="demo-info">
																<a href="index-6.html" class="inner-demo-img">Eye Care Home</a>
															</div>
														</div>
													</div>
													<div class="col-lg-2">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index-7.html" class="inner-demo-img"><img
																		src="assets/img/home-05.jpg" class="img-fluid"
																		alt="img"></a>
															</div>
															<div class="demo-info">
																<a href="index-7.html" class="inner-demo-img">Veterinary
																	Home</a>
															</div>
														</div>
													</div>
													<div class="col-lg-2">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index-8.html" class="inner-demo-img"><img
																		src="assets/img/home-04.jpg" class="img-fluid"
																		alt="img"></a>
															</div>
															<div class="demo-info">
																<a href="index-8.html" class="inner-demo-img">Paediatric
																	Home</a>
															</div>
														</div>
													</div>
													<div class="col-lg-2">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index-9.html" class="inner-demo-img"><img
																		src="assets/img/home-03.jpg" class="img-fluid"
																		alt="img"></a>
															</div>
															<div class="demo-info">
																<a href="index-9.html" class="inner-demo-img">Fertility Home</a>
															</div>
														</div>
													</div>
													<div class="col-lg-2">
														<div class="single-demo">
															<div class="demo-img">
																<a href="index-10.html" class="inner-demo-img"><img
																		src="assets/img/home-02.jpg" class="img-fluid"
																		alt="img"></a>
															</div>
															<div class="demo-info">
																<a href="index-10.html" class="inner-demo-img">ENT Hospital
																	Home</a>
															</div>
														</div>
													</div>
													<div class="col-lg-2">
														<div class="single-demo active">
															<div class="demo-img">
																<a href="index-11.html" class="inner-demo-img"><img
																		src="assets/img/home-01.jpg" class="img-fluid"
																		alt="img"></a>
															</div>
															<div class="demo-info">
																<a href="index-11.html" class="inner-demo-img">Cosmetics Home</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Doctors <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
										<li><a href="appointments.html">Appointments</a></li>
										<li><a href="schedule-timings.html">Schedule Timing</a></li>
										<li><a href="my-patients.html">Patients List</a></li>
										<li><a href="patient-profile.html">Patients Profile</a></li>
										<li><a href="chat-doctor.html">Chat</a></li>
										<li><a href="invoices.html">Invoices</a></li>
										<li><a href="doctor-profile-settings.html">Profile Settings</a></li>
										<li><a href="reviews.html">Reviews</a></li>
										<li><a href="doctor-register.html">Doctor Register</a></li>
										<li class="has-submenu">
											<a href="doctor-blog.html">Blog</a>
											<ul class="submenu">
												<li><a href="doctor-blog.html">Blog</a></li>
												<li><a href="blog-details.html">Blog view</a></li>
												<li><a href="doctor-add-blog.html">Add Blog</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Patients <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li class="has-submenu">
											<a href="javascript:void(0);">Doctors</a>
											<ul class="submenu inner-submenu">
												<li><a href="map-grid.html">Map Grid</a></li>
												<li><a href="map-list.html">Map List</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Search Doctor</a>
											<ul class="submenu inner-submenu">
												<li><a href="search.html">Search Doctor 1</a></li>
												<li><a href="search-2.html">Search Doctor 2</a></li>
											</ul>
										</li>
										<li><a href="doctor-profile.html">Doctor Profile</a></li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Booking</a>
											<ul class="submenu inner-submenu">
												<li><a href="booking.html">Booking 1</a></li>
												<li><a href="booking-2.html">Booking 2</a></li>
											</ul>
										</li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="booking-success.html">Booking Success</a></li>
										<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
										<li><a href="favourites.html">Favourites</a></li>
										<li><a href="chat.html">Chat</a></li>
										<li><a href="profile-settings.html">Profile Settings</a></li>
										<li><a href="change-password.html">Change Password</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="">Pharmacy <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="pharmacy-index.html">Pharmacy</a></li>
										<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
										<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
										<li><a href="product-all.html">Product</a></li>
										<li><a href="product-description.html">Product Description</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="product-checkout.html">Product Checkout</a></li>
										<li><a href="payment-success.html">Payment Success</a></li>
										<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Pages <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="about-us.html">About Us</a></li>
										<li><a href="contact-us.html">Contact Us</a></li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Call</a>
											<ul class="submenu inner-submenu">
												<li><a href="voice-call.html">Voice Call</a></li>
												<li><a href="video-call.html">Video Call</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Invoices</a>
											<ul class="submenu inner-submenu">
												<li><a href="invoices.html">Invoices</a></li>
												<li><a href="invoice-view.html">Invoice View</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Authentication</a>
											<ul class="submenu inner-submenu">
												<li><a href="login-email.html">Login Email</a></li>
												<li><a href="login-phone.html">Login Phone</a></li>
												<li><a href="doctor-signup.html">Doctor Signup</a></li>
												<li><a href="patient-signup.html">Patient Signup</a></li>
												<li><a href="forgot-password.html">Forgot Password 1</a></li>
												<li><a href="forgot-password2.html">Forgot Password 2</a></li>
												<li><a href="login-email-otp.html">Email OTP</a></li>
												<li><a href="login-phone-otp.html">Phone OTP</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Error Pages</a>
											<ul class="submenu inner-submenu">
												<li><a href="error-404.html">404 Error</a></li>
												<li><a href="error-500.html">500 Error</a></li>
											</ul>
										</li>
										<li><a href="blank-page.html">Starter Page</a></li>
										<li><a href="pricing.html">Pricing Plan</a></li>
										<li><a href="faq.html">FAQ</a></li>
										<li><a href="maintenance.html">Maintenance</a></li>
										<li><a href="coming-soon.html">Coming Soon</a></li>
										<li><a href="terms-condition.html">Terms & Condition</a></li>
										<li><a href="privacy-policy.html">Privacy Policy</a></li>
										<li><a href="components.html">Components</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="#">Blog <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="blog-list.html">Blog List</a></li>
										<li><a href="blog-grid.html">Blog Grid</a></li>
										<li><a href="blog-details.html">Blog Details</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="#">Admin <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="admin/index.html" target="_blank">Admin</a></li>
										<li><a href="pharmacy/index.html" target="_blank">Pharmacy Admin</a></li>
									</ul>
								</li>
								<li class="searchbar">
									<a href="javascript:void(0);"><i class="feather-search"></i></a>
									<div class="togglesearch" style="display: none;">
										<form action="search.html">
											<div class="input-group">
												<input type="text" class="form-control">
												<button type="submit" class="btn">Search</button>
											</div>
										</form>
									</div>
								</li>
							</ul>
						</div>
						<ul class="nav header-navbar-rht">
							<li class="login-link"><a href="login-email.html">Login / Signup</a></li>
							<li class="login-in-sixteen">
								<a href="signup.html" class="btn reg-btn"><i class="feather-lock me-2"></i>Login<span></span><span></span><span></span><span></span></a>
							</li>
							<li class="login-in-sixteen">
								<a href="login-email.html" class="btn btn-primary reg-btn reg-btn-sixteen"><i class="feather-user me-2"></i>Sign Up</a>
							</li>
						</ul>
					</nav>
				</div>
			</header>
			<!-- /Header -->		

			<!-- Home Banner -->
			<section class="banner-section-sixteen">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="banner-content banner-content-sixteen aos" data-aos="fade-up">
								<Span>Safe and certified treatments</span>
								<h1>Perfect Face Surgery For Everyone</h1>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
									when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								<div class="banner-btns-sixteen">
									<a href="booking-2.html" class="btn btn-primary me-2">Make an Appointment</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="banner-image-sixteen">
									<div class="banner-inner-img-sixteen">
										<img src="assets/img/ban-right-img1.jpg" alt="" class="img-fluid">
										<img src="assets/img/ban-right-img2.jpg" alt="" class="img-fluid">
									</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ban-sixteen-imgone">
					<img src="assets/img/ban-sixteen-img1.png" alt="">
				</div>
				<div class="ban-sixteen-imgtwo">
					<img src="assets/img/ban-sixteen-img2.png" alt="">
				</div>
			</section>
			<!-- /Home Banner -->

			<!-- services Section -->
			<section class="services-section-sixteen">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-header-sixteen text-center">
								<p>Recapture the beauty of self-confidence</p>
								<h2>Discover a New you</h2>
							</div>
						</div>
					</div>
					<div class="owl-carousel discover-slider owl-theme">
						<div class="discover-you-main">
							<div class="discover-you-image">	
								<img src="assets/img/icons/discover-5.svg" alt="">
							</div>
							<a href="javascript:void(0);">Body</a>
							<p>Lorem Ipsum is simply dummy typesetting industry.</p>
							<a href="javascript:void(0);" class="discov-innner">Read More<i class="fa-solid fa-chevron-right ms-2"></i></a>
						</div>
						<div class="discover-you-main">
							<div class="discover-you-image">	
								<img src="assets/img/icons/discover-4.svg" alt="">
							</div>
							<a href="javascript:void(0);">Face</a>
							<p>Lorem Ipsum is simply dummy typesetting industry.</p>
							<a href="javascript:void(0);" class="discov-innner">Read More<i class="fa-solid fa-chevron-right ms-2"></i></a>
						</div>
						<div class="discover-you-main">
							<div class="discover-you-image">	
								<img src="assets/img/icons/discover-3.svg" alt="">
							</div>
							<a href="javascript:void(0);">Breast</a>
							<p>Lorem Ipsum is simply dummy typesetting industry.</p>
							<a href="javascript:void(0);" class="discov-innner">Read More<i class="fa-solid fa-chevron-right ms-2"></i></a>
						</div>
						<div class="discover-you-main">
							<div class="discover-you-image">	
								<img src="assets/img/icons/discover-2.svg" alt="">
							</div>
							<a href="javascript:void(0);">Nose</a>
							<p>Lorem Ipsum is simply dummy typesetting industry.</p>
							<a href="javascript:void(0);" class="discov-innner">Read More<i class="fa-solid fa-chevron-right ms-2"></i></a>
						</div>
						<div class="discover-you-main">
							<div class="discover-you-image">	
								<img src="assets/img/icons/discover-1.svg" alt="">
							</div>
							<a href="javascript:void(0);">Fillers</a>
							<p>Lorem Ipsum is simply dummy typesetting industry.</p>
							<a href="javascript:void(0);" class="discov-innner">Read More<i class="fa-solid fa-chevron-right ms-2"></i></a>
						</div>
						<div class="discover-you-main">
							<div class="discover-you-image">	
								<img src="assets/img/icons/discover-3.svg" alt="">
							</div>
							<a href="javascript:void(0);">Face</a>
							<p>Lorem Ipsum is simply dummy typesetting industry.</p>
							<a href="javascript:void(0);" class="discov-innner">Read More<i class="fa-solid fa-chevron-right ms-2"></i></a>
						</div>
						<div class="discover-you-main">
							<div class="discover-you-image">	
								<img src="assets/img/icons/discover-4.svg" alt="">
							</div>
							<a href="javascript:void(0);">Body</a>
							<p>Lorem Ipsum is simply dummy typesetting industry.</p>
							<a href="javascript:void(0);" class="discov-innner">Read More<i class="fa-solid fa-chevron-right ms-2"></i></a>
						</div>
						<div class="discover-you-main">
							<div class="discover-you-image">	
								<img src="assets/img/icons/discover-3.svg" alt="">
							</div>
							<a href="javascript:void(0);">Nose</a>
							<p>Lorem Ipsum is simply dummy typesetting industry.</p>
							<a href="javascript:void(0);" class="discov-innner">Read More<i class="fa-solid fa-chevron-right ms-2"></i></a>
						</div>
						<div class="discover-you-main">
							<div class="discover-you-image">	
								<img src="assets/img/icons/discover-2.svg" alt="">
							</div>
							<a href="javascript:void(0);">Fillers</a>
							<p>Lorem Ipsum is simply dummy typesetting industry.</p>
							<a href="javascript:void(0);" class="discov-innner">Read More<i class="fa-solid fa-chevron-right ms-2"></i></a>
						</div>
						<div class="discover-you-main">
							<div class="discover-you-image">	
								<img src="assets/img/icons/discover-4.svg" alt="">
							</div>
							<a href="javascript:void(0);">Breast</a>
							<p>Lorem Ipsum is simply dummy typesetting industry.</p>
							<a href="javascript:void(0);" class="discov-innner">Read More<i class="fa-solid fa-chevron-right ms-2"></i></a>
						</div>
						<div class="discover-you-main">
							<div class="discover-you-image">	
								<img src="assets/img/icons/discover-2.svg" alt="">
							</div>
							<a href="javascript:void(0);">Body</a>
							<p>Lorem Ipsum is simply dummy typesetting industry.</p>
							<a href="javascript:void(0);" class="discov-innner">Read More<i class="fa-solid fa-chevron-right ms-2"></i></a>
						</div>
					</div>
				</div>
				<div class="service-sixteen-icon">
					<img src="assets/img/service-sixteen-icon.png" alt="">
				</div>
			</section>
			<!-- /services Section -->

			<!-- Treatment Section -->
				<div class="treatment-section-sixteen">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="section-header-sixteen text-center">
									<p>OUr services</p>
									<h2>Choose a treatment</h2>
								</div>
							</div>
						</div>
						<div class="owl-carousel treatment-sixteen-slider owl-theme">
							<div class="item item-sixteen">
								<div class="doctor-profile-widget">
									<div class="doc-pro-img">
										<a href="doctor-profile.html">
											<div class="doctor-profile-img">
												<img src="assets/img/treatment-1.jpg" class="img-fluid" alt="">
											</div>
										</a>
										<div class="doctor-amount">
											<span>Face Lift</span>
										</div>
									</div>
									<div class="doc-content">
										<div class="doc-pro-info">
											<div class="doc-pro-name">
												<a href="doctor-profile.html">Barbara L. Williams</a>
												<p>Aesthetic Surgery</p>
											</div>
											<div class="reviews-ratings">
												<p>
													<span><i class="fas fa-star"></i> 4.5</span> (35)
												</p>
											</div>
										</div>
										<div class="doc-pro-location">
											<p><i class="feather-map-pin"></i> Newyork, USA</p>
										</div>
									</div>
									<a href="booking.html" class="btn btn-primary">Book</a>
								</div>
							</div>
							<div class="item item-sixteen">
								<div class="doctor-profile-widget">
									<div class="doc-pro-img">
										<a href="doctor-profile.html">
											<div class="doctor-profile-img">
												<img src="assets/img/treatment-2.jpg" class="img-fluid" alt="">
											</div>
										</a>
										<div class="doctor-amount">
											<span>Implant</span>
										</div>
									</div>
									<div class="doc-content">
										<div class="doc-pro-info">
											<div class="doc-pro-name">
												<a href="doctor-profile.html">James L. George</a>
												<p>Cardiology</p>
											</div>
											<div class="reviews-ratings">
												<p>
													<span><i class="fas fa-star"></i> 4.5</span> (35)
												</p>
											</div>
										</div>
										<div class="doc-pro-location">
											<p><i class="feather-map-pin"></i> Mexico, USA</p>
										</div>
									</div>
									<a href="booking.html" class="btn btn-primary">Book</a>
								</div>
							</div>
							<div class="item item-sixteen">
								<div class="doctor-profile-widget">
									<div class="doc-pro-img">
										<a href="doctor-profile.html">
											<div class="doctor-profile-img">
												<img src="assets/img/treatment-3.jpg" class="img-fluid" alt="">
											</div>
										</a>
										<div class="doctor-amount">
											<span>Blearoplasty</span>
										</div>
									</div>
									<div class="doc-content">
										<div class="doc-pro-info">
											<div class="doc-pro-name">
												<a href="doctor-profile.html">Matthew R. Paul</a>
												<p>Aesthetic Surgery</p>
											</div>
											<div class="reviews-ratings">
												<p>
													<span><i class="fas fa-star"></i> 4.4</span> (65)
												</p>
											</div>
										</div>
										<div class="doc-pro-location">
											<p><i class="feather-map-pin"></i> Mexico, USA</p>
										</div>
									</div>
									<a href="booking.html" class="btn btn-primary">Book</a>
								</div>
							</div>
							<div class="item item-sixteen">
								<div class="doctor-profile-widget">
									<div class="doc-pro-img">
										<a href="doctor-profile.html">
											<div class="doctor-profile-img">
												<img src="assets/img/treatment-4.jpg" class="img-fluid" alt="">
											</div>
										</a>
										<div class="doctor-amount">
											<span>Tummy Tuck</span>
										</div>
									</div>
									<div class="doc-content">
										<div class="doc-pro-info">
											<div class="doc-pro-name">
												<a href="doctor-profile.html">Carolina F. Paul</a>
												<p>Aesthetic Surgery</p>
											</div>
											<div class="reviews-ratings">
												<p>
													<span><i class="fas fa-star"></i> 4.0</span> (15)
												</p>
											</div>
										</div>
										<div class="doc-pro-location">
											<p><i class="feather-map-pin"></i> Log Angels, USA</p>
										</div>
									</div>
									<a href="booking.html" class="btn btn-primary">Book</a>
								</div>
							</div>
							<div class="item item-sixteen">
								<div class="doctor-profile-widget">
									<div class="doc-pro-img">
										<a href="doctor-profile.html">
											<div class="doctor-profile-img">
												<img src="assets/img/treatment-3.jpg" class="img-fluid" alt="">
											</div>
										</a>
										<div class="doctor-amount">
											<span>Blearoplasty</span>
										</div>
									</div>
									<div class="doc-content">
										<div class="doc-pro-info">
											<div class="doc-pro-name">
												<a href="doctor-profile.html">Matthew R. Paul</a>
												<p>Aesthetic Surgery</p>
											</div>
											<div class="reviews-ratings">
												<p>
													<span><i class="fas fa-star"></i> 4.4</span> (65)
												</p>
											</div>
										</div>
										<div class="doc-pro-location">
											<p><i class="feather-map-pin"></i> Mexico, USA</p>
										</div>
									</div>
									<a href="booking.html" class="btn btn-primary">Book</a>
								</div>
							</div>
						</div>
					</div>
					<div class="service-sixteen-icontwo">
						<img src="assets/img/service-sixteen-icon.png" alt="">
					</div>
				</div>
			<!-- /Treatment Section -->

			<!-- Services Section -->
				<div class="features-section-sixteen">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="section-header-sixteen text-center">
									<p>OUr services</p>
									<h2>Featured Services</h2>
								</div>
							</div>
						</div>
						<div class="owl-carousel features-slider-sixteen owl-theme">
							<div class="feature-sixteen-main">
								<div class="feature-six-img">
									<img src="assets/img/feature-service-1.jpg" alt="" class="img-fluid">
									<div class="feature-content-six">
										<div class="feature-content-one">
											<h5>Mommy Makeover</h5>
											<span><i class="fa-solid fa-angle-up"></i></span>
										</div>
										<div class="feature-content-two">
											<p>Facial procedures are popular because of their ability to give patients a youthful appearance, 
												reduce the signs of aging and by improving existing features for more aesthetically pleasing results. 
												These methods are in two separate categories and are commonly known as facial rejuvenation and facial contouring. 
												Facial rejuvenation consists of facelift, eyelid lift, neck lift and brow lift.</p>
											<span><i class="fa-solid fa-angle-down"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="feature-sixteen-main">
								<div class="feature-six-img">
									<img src="assets/img/feature-service-3.jpg" alt="" class="img-fluid">
									<div class="feature-content-six">
										<div class="feature-content-one">
											<h5>Face Makeover</h5>
											<span><i class="fa-solid fa-angle-up"></i></span>
										</div>
										<div class="feature-content-two">
											<p>Facial procedures are popular because of their ability to give patients a youthful appearance, 
												reduce the signs of aging and by improving existing features for more aesthetically pleasing results. 
												These methods are in two separate categories and are commonly known as facial rejuvenation and facial contouring. 
												Facial rejuvenation consists of facelift, eyelid lift, neck lift and brow lift.</p>
											<span><i class="fa-solid fa-angle-down"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="feature-sixteen-main">
								<div class="feature-six-img">
									<img src="assets/img/feature-service-2.jpg" alt="" class="img-fluid">
									<div class="feature-content-six">
										<div class="feature-content-one">
											<h5>BodyTite</h5>
											<span><i class="fa-solid fa-angle-up"></i></span>
										</div>
										<div class="feature-content-two">
											<p>Facial procedures are popular because of their ability to give patients a youthful appearance, 
												reduce the signs of aging and by improving existing features for more aesthetically pleasing results. 
												These methods are in two separate categories and are commonly known as facial rejuvenation and facial contouring. 
												Facial rejuvenation consists of facelift, eyelid lift, neck lift and brow lift.</p>
											<span><i class="fa-solid fa-angle-down"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="feature-sixteen-main">
								<div class="feature-six-img">
									<img src="assets/img/feature-service-3.jpg" alt="" class="img-fluid">
									<div class="feature-content-six">
										<div class="feature-content-one">
											<h5>BodyTite</h5>
											<span><i class="fa-solid fa-angle-up"></i></span>
										</div>
										<div class="feature-content-two">
											<p>Facial procedures are popular because of their ability to give patients a youthful appearance, 
												reduce the signs of aging and by improving existing features for more aesthetically pleasing results. 
												These methods are in two separate categories and are commonly known as facial rejuvenation and facial contouring. 
												Facial rejuvenation consists of facelift, eyelid lift, neck lift and brow lift.</p>
											<span><i class="fa-solid fa-angle-down"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="feature-sixteen-main">
								<div class="feature-six-img">
									<img src="assets/img/feature-service-1.jpg" alt="" class="img-fluid">
									<div class="feature-content-six">
										<div class="feature-content-one">
											<h5>BodyTite</h5>
											<span><i class="fa-solid fa-angle-up"></i></span>
										</div>
										<div class="feature-content-two">
											<p>Facial procedures are popular because of their ability to give patients a youthful appearance, 
												reduce the signs of aging and by improving existing features for more aesthetically pleasing results. 
												These methods are in two separate categories and are commonly known as facial rejuvenation and facial contouring. 
												Facial rejuvenation consists of facelift, eyelid lift, neck lift and brow lift.</p>
											<span><i class="fa-solid fa-angle-down"></i></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- /Services Section -->

			<!-- Facts Services -->
				<div class="facts-section-sixteen">
					<div class="container">
						<div class="facts-section-all">
							<div class="facts-main-sixteen">
								<span>OUr services</span>
								<h2>Facts you need to know ahead</h2>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
									when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
									<a href="booking.html">Read More<i class="fa-solid fa-chevron-right ms-2"></i></a>
							</div>
							<div class="facts-content-all">
								<ul>
									<li>
										<div class="facts-sixteen-img">
											<img src="assets/img/icons/facts-5.svg" alt="">
											<div class="facts-content-sixteen">
												<div class="facts-content-one">
													<h5>Consequences<i class="fa-solid fa-angle-right ms-2"></i></h5>
												</div>
											</div>
										</div>
										<div class="facts-content-two facts-content-two-solid">
													<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
														Lorem Ipsum has been the industry's standard dummy text ever.</p>
										</div>
									</li>
									<li>
										<div class="facts-sixteen-img">
											<img src="assets/img/icons/facts-4.svg" alt="">
											<div class="facts-content-sixteen">
												<div class="facts-content-one">
													<h5>Privacy policy<i class="fa-solid fa-angle-right ms-2"></i></h5>
												</div>
											</div>
										</div>
										<div class="facts-content-two facts-content-two-solid">
													<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
														Lorem Ipsum has been the industry's standard dummy text ever.</p>
												</div>
									</li>
									<li>
										<div class="facts-sixteen-img">
											<img src="assets/img/icons/facts-3.svg" alt="">
											<div class="facts-content-sixteen">
												<div class="facts-content-one">
													<h5>Surgery preparation<i class="fa-solid fa-angle-right ms-2"></i></h5>
												</div>
											</div>
										</div>
										<div class="facts-content-two facts-content-two-solid">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
												Lorem Ipsum has been the industry's standard dummy text ever.</p>
										</div>
									</li>
									<li>
										<div class="facts-sixteen-img">
											<img src="assets/img/icons/facts-2.svg" alt="">
											<div class="facts-content-sixteen">
												<div class="facts-content-one">
													<h5>Age limit<i class="fa-solid fa-angle-right ms-2"></i></h5>
												</div>
											</div>
										</div>
										<div class="facts-content-two facts-content-two-solid">
													<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
														Lorem Ipsum has been the industry's standard dummy text ever.</p>
												</div>
									</li>
									<li>
										<div class="facts-sixteen-img">
											<img src="assets/img/icons/facts-1.svg" alt="">
											<div class="facts-content-sixteen">
												<div class="facts-content-one">
													<h5>After Surgery<i class="fa-solid fa-angle-right ms-2"></i></h5>
												</div>
											</div>
										</div>
										<div class="facts-content-two facts-content-two-solid">
													<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
														Lorem Ipsum has been the industry's standard dummy text ever.</p>
												</div>
									</li>
									<li>
										<div class="facts-sixteen-img">
											<img src="assets/img/icons/facts-5.svg" alt="">
											<div class="facts-content-sixteen">
												<div class="facts-content-one">
													<h5>Consequences<i class="fa-solid fa-angle-right ms-2"></i></h5>
												</div>
											</div>
										</div>
										<div class="facts-content-two facts-content-two-solid">
													<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
														Lorem Ipsum has been the industry's standard dummy text ever.</p>
												</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			<!-- /Facts Services -->

			<!-- Experts Team -->
			<section class="experts-section-sixteen">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-header-sixteen section-header-sixteentwo text-center">
								<p>Our Team</p>
								<h2>Our experts team</h2>
							</div>
						</div>
					</div>
					<div class="slider slider-sixteen aos" data-aos="zoom-in-up">
						<div class="owl-carousel custome_slides" id="slide-experts">
							<div class="test_imgs">
								<div class="main-reviewimages">
								   <img src="assets/img/experts-2.jpg" alt="" class="img-fluid">
							   </div>
							   <div class="testimonal-contents">
								<h5>Leslie Alexander</h5>
								<span >Aesthetic Surgery</span>
							   </div>
							</div>
							<div class="test_imgs">
								<div class="main-reviewimages">
								   <img src="assets/img/experts-3.jpg" alt="" class="img-fluid">
							   </div>
							   <div class="testimonal-contents">
								<h5>Leslie Alexander</h5>
								<span >Aesthetic Surgery</span>
							   </div>
							</div>
							<div class="test_imgs">
								<div class="main-reviewimages">
								   <img src="assets/img/experts-2.jpg" alt="" class="img-fluid">
							   </div>
							   <div class="testimonal-contents">
								<h5>Leslie Alexander</h5>
								<span >Aesthetic Surgery</span>
							   </div>
							</div>
							<div class="test_imgs">
								<div class="main-reviewimages">
								   <img src="assets/img/experts-2.jpg" alt="" class="img-fluid">
							   </div>
							   <div class="testimonal-contents">
								<h5>Leslie Alexander</h5>
								<span >Aesthetic Surgery</span>
							   </div>
							</div>
						 </div>
					</div>
				</div>
			</section>
			<!-- /Experts Team -->

			<!-- Pricing Plan -->
			<div class="pricing-section-sixteen">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-header-sixteen text-center">
								<p>OUr services</p>
								<h2>Featured Services</h2>
							</div>
						</div>
					</div>
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-4 col-sm-12 aos" data-aos="fade-up">
							<div class="card pricing-card">
								<div class="card-body">
									<div class="pricing-header">
										<div class="pricing-header-info">
											<div class="pricing-icon">
												<span>
													<img src="assets/img/icons/price-icon1.svg" alt="icon">
												</span>
											</div>
											<div class="pricing-title">
												<p>For individuals</p>
												<h4>Basic</h4>
											</div>
										</div>
										<div class="pricing-header-text">
											<p>Lorem ipsum dolor consectetur adipiscing elit,sed do eiusmod tempor</p>
										</div>
									</div>
									<div class="pricing-info">
										<div class="pricing-amount">
											<h2>$99 <span>/monthly</span></h2>
											<h6>What’s included</h6>
										</div>
										<div class="pricing-list">
											<ul>
												<li>Lorem ipsum dolor amet, consectetur </li>
												<li>Lorem ipsum amet, consectetur </li>
												<li>Lorem ipsum dolor amet, consectetur </li>
												<li>Lorem ipsum amet, consectetur </li>
											</ul>
										</div>
										<div class="pricing-btn">
											<a href="pricing.html" class="btn">Choose Plan</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-12 aos" data-aos="fade-up">
							<div class="card pricing-card pricing-card-active">
								<div class="card-body">
									<div class="pricing-header">
										<div class="pricing-header-info">
											<div class="pricing-icon">
												<span>
													<img src="assets/img/icons/price-icon2.svg" alt="icon">
												</span>
											</div>
											<div class="pricing-title">
												<p>For startups</p>
												<h4>Pro</h4>
											</div>
											<div class="pricing-tag">
												<span>Popular</span>
											</div>
										</div>
										<div class="pricing-header-text">
											<p>Lorem ipsum dolor consectetur adipiscing elit,sed do eiusmod tempor</p>
										</div>
									</div>
									<div class="pricing-info">
										<div class="pricing-amount">
											<h2>$199 <span>/monthly</span></h2>
											<h6>What’s included</h6>
										</div>
										<div class="pricing-list">
											<ul>
												<li>Lorem ipsum dolor amet, consectetur</li>
												<li>Lorem ipsum amet, consectetur</li>
												<li>Neque porro quisquam est, qui dolorem</li>
												<li>Lorem ipsum dolor amet, consectetur</li>
												<li>Lorem ipsum amet, consectetur</li>
												<li>Sed ut perspiciatis unde</li>
												<li>Nemo enim ipsam voluptatem</li>
											</ul>
										</div>
										<div class="pricing-btn">
											<a href="pricing.html" class="btn">Choose Plan</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-12 aos" data-aos="fade-up">
							<div class="card pricing-card">
								<div class="card-body">
									<div class="pricing-header">
										<div class="pricing-header-info">
											<div class="pricing-icon">
												<span>
													<img src="assets/img/icons/price-icon3.svg" alt="icon">
												</span>
											</div>
											<div class="pricing-title">
												<p>For big companies</p>
												<h4>Enterprise</h4>
											</div>
										</div>
										<div class="pricing-header-text">
											<p>Lorem ipsum dolor consectetur adipiscing elit,sed do eiusmod tempor</p>
										</div>
									</div>
									<div class="pricing-info">
										<div class="pricing-amount">
											<h2>$399 <span>/monthly</span></h2>
											<h6>What’s included</h6>
										</div>
										<div class="pricing-list">
											<ul>
												<li>Lorem ipsum dolor amet, consectetur </li>
												<li>Lorem ipsum amet, consectetur </li>
												<li>Lorem ipsum dolor amet, consectetur </li>
												<li>Lorem ipsum amet, consectetur </li>
											</ul>
										</div>
										<div class="pricing-btn">
											<a href="pricing.html" class="btn">Choose Plan</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Pricing Plan -->

			<!-- Testimonal Section -->
			<div class="testimonal-section-sixteen">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-header-sixteen text-center">
								<p>OUr services</p>
								<h2>Featured Services</h2>
							</div>
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-md-5">
							<div class="testi-img">
								<img src="assets/img/testimonial-2.jpg" alt="" class="img-fluid">
								<span class="testi-icon"><i class="fa-solid fa-quote-left"></i></span>
							</div>
							<div class="testi-users">
								<div class="nav nav-container slide-11"></div>
								<ul>
									<li>
										<img src="assets/img/clients/client-04.jpg" alt="" class="img-fluid">								
									</li>
									<li>
										<img src="assets/img/clients/client-03.jpg" alt="" class="img-fluid">								
									</li>
									<li>
										<img src="assets/img/clients/client-06.jpg" alt="" class="img-fluid">								
									</li>
									<li>
										<img src="assets/img/clients/client-07.jpg" alt="" class="img-fluid">								
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-7">
							<div class="owl-carousel eye-testislider">
								<div class="testimonial-wrap">
									<h4>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy</p>
									<div class="testimonial-user">
										<h6>Elizabeth Forsyth</h6>
										<p>Las Vegas, USA</p>
									</div>
								</div>
								<div class="testimonial-wrap">
									<h4>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical</h4>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy</p>
									<div class="testimonial-user">
										<h6>Leigh Baley</h6>
										<p>San Jose, USA</p>
									</div>
								</div>
								<div class="testimonial-wrap">
									<h4>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here  making it look like readable English.</p>
									<div class="testimonial-user">
										<h6>Jon Sparks</h6>
										<p>Irvine, USA</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Testimonal Section -->
			
			<!-- Feedback -->
			<section class="feedback-section-sixteen">
				<div class="container">
					<div class="feedback-schedule-all">
						<div class="row align-items-center">
							<div class="col-lg-5">
								<div class="feedback-inner-main">
									<img src="assets/img/feedback-sixteen.png" alt="image" class="img-fluid">
								</div>
							</div>
							<div class="col-lg-7">
								<div class="feedback-fifteen-content">
									<h3>Focus On Your Own Body Shape</h3>
									<p>It's easy to list, simple to manage and, best of all, free to list!</p>
									<div class="feedback-btns">
										<a href="appointments.html" class="btn btn-primary">Make An Appointment</a>
										<a href="booking-2.html" class="btn btn-primarytwo"><i class="feather-plus me-2"></i>Get Free Check-up</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Feedback -->

			<!-- Footer -->
			<footer class="footer footer-one footer-sixteen">
				<div class="footer-top aos" data-aos="fade-up">
					<div class="container">
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="assets/img/logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
									</div>
									<div class="subscribe-form">
										<input type="email" class="form-control" placeholder="Enter Email Address">
										<button type="submit" class="btn footer-btn">
											Subscribe
										</button>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">Company</h2>
									<ul>
										<li><a href="about-us.html">About us</a></li>
										<li><a href="cart.html">Careers</a></li>
										<li><a href="javascript:void(0);">News</a></li>
										<li><a href="contact-us.html">Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">Resources</h2>
									<ul>
										<li><a href="javascript:void(0);">Events</a></li>
										<li><a href="javascript:void(0);">Help Centre</a></li>
										<li><a href="javascript:void(0);">Tutorials</a></li>
										<li><a href="javascript:void(0);">Support</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-2 col-md-5">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">Social</h2>
									<ul>
										<li><a href="javascript:void(0);">Twitter</a></li>
										<li><a href="javascript:void(0);">LinkedIn</a></li>
										<li><a href="javascript:void(0);">Facebook</a></li>
										<li><a href="javascript:void(0);">Dribble</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-2 col-md-7">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">Legal</h2>
									<ul>
										<li><a href="term-condition.html">Terms & Condition</a></li>
										<li><a href="privacy-policy.html">Privacy Policy</a></li>
										<li><a href="coming-soon.html">Cookies</a></li>
										<li><a href="javascript:void(0);">Licenses</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="container">
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p>© 2023 Doccure. All rights reserve.</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul>
											<li>
												<a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a>
											</li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->					
					</div>
				</div>
			</footer>
			<!-- /Footer -->

			<!-- Cursor -->
			<div class="mouse-cursor cursor-outer"></div>
			<div class="mouse-cursor cursor-inner"></div>
			<!-- /Cursor -->	
		
		</div>		
		<!-- /Main Wrapper -->

		<!-- ScrollToTop -->
		<div class="progress-wrap active-progress">
			<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
			</svg>
		</div>
		<!-- /ScrollToTop -->
	
		<!-- jQuery -->
		<script src="assets/js/jquery-3.6.4.min.js"></script>
		
		<!-- Bootstrap Bundle JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Feather Icon JS -->
		<script src="assets/js/feather.min.js"></script>

		<!-- Datepicker JS -->
		<script src="assets/js/moment.min.js"></script>
		<script src="assets/js/bootstrap-datetimepicker.min.js"></script>

		<!-- Owl Carousel JS -->
		<script src="assets/js/owl.carousel.min.js"></script>

		<!-- Slick JS -->
		<script src="assets/js/slick.js"></script>

		<!-- select JS -->
		<script src="assets/plugins/select2/js/select2.min.js"></script>

		<!-- Animation JS -->
		<script src="assets/js/aos.js"></script>

		<!-- counterup JS -->
		<script src="assets/js/jquery.waypoints.js"></script>
		<script src="assets/js/jquery.counterup.min.js"></script>

		<!-- BacktoTop JS -->
		<script src="assets/js/backToTop.js"></script>

		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
	
	</body>
</html>