<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
		<title>Doccure</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
				
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

		<!-- Feathericon CSS -->
    	<link rel="stylesheet" href="assets/css/feather.css">

    	<!-- Select2 CSS -->
		<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

		<!-- Jquery CSS -->
		<link rel="stylesheet" href="assets/plugins/jquery-ui/jquery-ui.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="assets/css/custom.css">

	</head>		
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">

			<!-- Header -->
			<header class="header header-fixed header-one">
				<div class="container">
					<nav class="navbar navbar-expand-lg header-nav">
						<div class="navbar-header">
							<a id="mobile_btn" href="javascript:void(0);">
								<span class="bar-icon">
									<span></span>
									<span></span>
									<span></span>
								</span>
							</a>
							<a href="index.html" class="navbar-brand logo">
								<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
						</div>
						<div class="main-menu-wrapper">
							<div class="menu-header">
								<a href="index.html" class="menu-logo">
									<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
								</a>
								<a id="menu_close" class="menu-close" href="javascript:void(0);">
									<i class="fas fa-times"></i>
								</a>
							</div>
							<ul class="main-nav">
							<li class="has-submenu megamenu">
								<a href="javascript:void(0);">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu mega-submenu">
									<li>
										<div class="megamenu-wrapper">
											<div class="row">
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index.html" class="inner-demo-img"><img
																	src="assets/img/home-11.jpg" class="img-fluid "
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index.html" class="inner-demo-img">General Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo ">
														<div class="demo-img">
															<a href="index-2.html" class="inner-demo-img"><img
																	src="assets/img/home-10.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-2.html" class="inner-demo-img">General Home
																2</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-3.html" class="inner-demo-img"><img
																	src="assets/img/home-09.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-3.html" class="inner-demo-img">General Home
																3</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-4.html" class="inner-demo-img"><img
																	src="assets/img/home-08.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-4.html" class="inner-demo-img">General Home
																4</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-5.html" class="inner-demo-img"><img
																	src="assets/img/home-07.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-5.html" class="inner-demo-img">Cardiology
																Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-6.html" class="inner-demo-img"><img
																	src="assets/img/home-06.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-6.html" class="inner-demo-img">Eye Care
																Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-7.html" class="inner-demo-img"><img
																	src="assets/img/home-05.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-7.html" class="inner-demo-img">Veterinary
																Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-8.html" class="inner-demo-img"><img
																	src="assets/img/home-04.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-8.html" class="inner-demo-img">Paediatric
																Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-9.html" class="inner-demo-img"><img
																	src="assets/img/home-03.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-9.html" class="inner-demo-img">Fertility
																Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-10.html" class="inner-demo-img"><img
																	src="assets/img/home-02.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-10.html" class="inner-demo-img">ENT Hospital
																Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-11.html" class="inner-demo-img"><img
																	src="assets/img/home-01.jpg" class="img-fluid"
																	alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-11.html" class="inner-demo-img">Cosmetics
																Home</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Doctors <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
										<li><a href="appointments.html">Appointments</a></li>
										<li><a href="schedule-timings.html">Schedule Timing</a></li>
										<li><a href="my-patients.html">Patients List</a></li>
										<li><a href="patient-profile.html">Patients Profile</a></li>
										<li><a href="chat-doctor.html">Chat</a></li>
										<li><a href="invoices.html">Invoices</a></li>
										<li><a href="doctor-profile-settings.html">Profile Settings</a></li>
										<li><a href="reviews.html">Reviews</a></li>
										<li><a href="doctor-register.html">Doctor Register</a></li>
										<li class="has-submenu">
											<a href="doctor-blog.html">Blog</a>
											<ul class="submenu">
												<li><a href="doctor-blog.html">Blog</a></li>
												<li><a href="blog-details.html">Blog view</a></li>
												<li><a href="doctor-add-blog.html">Add Blog</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="has-submenu active">
									<a href="javascript:void(0);">Patients <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li class="has-submenu">
											<a href="javascript:void(0);">Doctors</a>
											<ul class="submenu inner-submenu">
												<li><a href="map-grid.html">Map Grid</a></li>
												<li><a href="map-list.html">Map List</a></li>
											</ul>
										</li>
										<li class="has-submenu active">
											<a href="javascript:void(0);">Search Doctor</a>
											<ul class="submenu inner-submenu">
												<li><a href="search.html">Search Doctor 1</a></li>
												<li class="active"><a href="search-2.html">Search Doctor 2</a></li>
											</ul>
										</li>
										<li><a href="doctor-profile.html">Doctor Profile</a></li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Booking</a>
											<ul class="submenu inner-submenu">
												<li><a href="booking.html">Booking 1</a></li>
												<li><a href="booking-2.html">Booking 2</a></li>
											</ul>
										</li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="booking-success.html">Booking Success</a></li>
										<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
										<li><a href="favourites.html">Favourites</a></li>
										<li><a href="chat.html">Chat</a></li>
										<li><a href="profile-settings.html">Profile Settings</a></li>
										<li><a href="change-password.html">Change Password</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="">Pharmacy <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="pharmacy-index.html">Pharmacy</a></li>
										<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
										<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
										<li><a href="product-all.html">Product</a></li>
										<li><a href="product-description.html">Product Description</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="product-checkout.html">Product Checkout</a></li>
										<li><a href="payment-success.html">Payment Success</a></li>
										<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Pages <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="about-us.html">About Us</a></li>
										<li><a href="contact-us.html">Contact Us</a></li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Call</a>
											<ul class="submenu inner-submenu">
												<li><a href="voice-call.html">Voice Call</a></li>
												<li><a href="video-call.html">Video Call</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Invoices</a>
											<ul class="submenu inner-submenu">
												<li><a href="invoices.html">Invoices</a></li>
												<li><a href="invoice-view.html">Invoice View</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Authentication</a>
											<ul class="submenu inner-submenu">
												<li><a href="login-email.html">Login Email</a></li>
												<li><a href="login-phone.html">Login Phone</a></li>
												<li><a href="doctor-signup.html">Doctor Signup</a></li>
												<li><a href="patient-signup.html">Patient Signup</a></li>
												<li><a href="forgot-password.html">Forgot Password 1</a></li>
												<li><a href="forgot-password2.html">Forgot Password 2</a></li>
												<li><a href="login-email-otp.html">Email OTP</a></li>
												<li><a href="login-phone-otp.html">Phone OTP</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Error Pages</a>
											<ul class="submenu inner-submenu">
												<li><a href="error-404.html">404 Error</a></li>
												<li><a href="error-500.html">500 Error</a></li>
											</ul>
										</li>
										<li><a href="blank-page.html">Starter Page</a></li>
										<li><a href="pricing.html">Pricing Plan</a></li>
										<li><a href="faq.html">FAQ</a></li>
										<li><a href="maintenance.html">Maintenance</a></li>
										<li><a href="coming-soon.html">Coming Soon</a></li>
										<li><a href="terms-condition.html">Terms & Condition</a></li>
										<li><a href="privacy-policy.html">Privacy Policy</a></li>
										<li><a href="components.html">Components</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="#">Blog <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="blog-list.html">Blog List</a></li>
										<li><a href="blog-grid.html">Blog Grid</a></li>
										<li><a href="blog-details.html">Blog Details</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="#">Admin <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="admin/index.html" target="_blank">Admin</a></li>
										<li><a href="pharmacy/index.html" target="_blank">Pharmacy Admin</a></li>
									</ul>
								</li>
								<li class="searchbar">
									<a href="javascript:void(0);"><i class="feather-search"></i></a>
									<div class="togglesearch" style="display: none;">
										<form action="search.html">
											<div class="input-group">
												<input type="text" class="form-control">
												<button type="submit" class="btn">Search</button>
											</div>
										</form>
									</div>
								</li>
								<li class="login-link"><a href="login.html">Login / Signup</a></li>
								<li class="register-btn">
									<a href="register.html" class="btn reg-btn"><i class="feather-user"></i>Register</a>
								</li>
								<li class="register-btn">
									<a href="login.html" class="btn btn-primary log-btn"><i class="feather-lock"></i>Login</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</header>
			<!-- /Header -->

			<!-- Breadcrumb -->
			<div class="breadcrumb-bar-two">
				<div class="container">
					<div class="row align-items-center inner-banner">
						<div class="col-md-12 col-12 text-center">
							<h2 class="breadcrumb-title">Search Doctors</h2>
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item" aria-current="page">Search Doctors</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="doctor-content content">
				<div class="container">

					<!-- Doctor Search List -->
					<div class="row">
						<div class="col-xl-12 col-lg-12 map-view">
							<div class="row">
								<div class="col-lg-3  theiaStickySidebar">
									<div class="filter-contents">
										<div class="filter-header">
											<h4 class="filter-title">Filter</h4>
										</div>
										<div class="filter-details">

											<!-- Filter Grid -->
											<div class="filter-grid">
												<h4>
													<a href="#collapseone" data-bs-toggle="collapse">Gender</a>
												</h4>
												<div id="collapseone" class="collapse show">
													<div class="filter-collapse">
														<ul>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="gender">
																	<span class="checkmark"></span>
																	Male Gender
																</label>
															</li>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="gender">
																	<span class="checkmark"></span>
																	Female Gender
																</label>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!-- /Filter Grid -->

											<!-- Filter Grid -->
											<div class="filter-grid">
												<h4>
													<a href="#collapsetwo" data-bs-toggle="collapse">Availability</a>
												</h4>
												<div id="collapsetwo" class="collapse show">
													<div class="filter-collapse">
														<ul>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="availability">
																	<span class="checkmark"></span>
																	Available Today
																</label>
															</li>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="availability">
																	<span class="checkmark"></span>
																	Available Tomorrow
																</label>
															</li>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="availability">
																	<span class="checkmark"></span>
																	Available in Next 7 Days
																</label>
															</li>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="availability">
																	<span class="checkmark"></span>
																	Available in Next 30 Days
																</label>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!-- /Filter Grid -->

											<!-- Filter Grid -->
											<div class="filter-grid">
												<h4>
													<a href="#collapsethree" data-bs-toggle="collapse">Consultation Fee</a>
												</h4>
												<div id="collapsethree" class="collapse show">
													<div class="filter-collapse">
														<div class="filter-content filter-content-slider">	
															<p>$10 <span>$10000</span></p>									
															<div class="slider-wrapper">
																<div id="price-range"></div>
															</div>
															<div class="price-wrapper">
																<h6>Price: 
																<span>
																	$<span id="pricerangemin"></span> 
																	- $<span id="pricerangemax"></span>
																</span>
																</h6>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- /Filter Grid -->

											<!-- Filter Grid -->
											<div class="filter-grid">
												<h4>
													<a href="#collapsefour" data-bs-toggle="collapse">Speciality</a>
												</h4>
												<div id="collapsefour" class="collapse show">
													<div class="filter-collapse">
														<ul>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="speciality">
																	<span class="checkmark"></span>
																	Urology
																</label>
															</li>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="speciality">
																	<span class="checkmark"></span>
																	Ophthalmology
																</label>
															</li>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="speciality">
																	<span class="checkmark"></span>
																	Cardiology
																</label>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!-- /Filter Grid -->

											<!-- Filter Grid -->
											<div class="filter-grid">
												<h4>
													<a href="#collapsefive" data-bs-toggle="collapse">Experience</a>
												</h4>
												<div id="collapsefive" class=" collapse show">
													<div class="filter-collapse">
														<ul>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="experience">
																	<span class="checkmark"></span>
																	1-5 Years
																</label>
															</li>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="experience">
																	<span class="checkmark"></span>
																	5+ Years
																</label>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!-- /Filter Grid -->

											<!-- Filter Grid -->
											<div class="filter-grid">
												<h4>
													<a href="#collapsesix" data-bs-toggle="collapse">Online Consultation</a>
												</h4>
												<div id="collapsesix" class="collapse show">
													<div class="filter-collapse">
														<ul>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="online">
																	<span class="checkmark"></span>
																	<i class="feather-video online-icon"></i> Video Call
																</label>
															</li>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="online">
																	<span class="checkmark"></span>
																	<i class="feather-mic online-icon"></i> Audio Call
																</label>
															</li>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="online">
																	<span class="checkmark"></span>
																	<i class="feather-message-square online-icon"></i> Chat
																</label>
															</li>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="online">
																	<span class="checkmark"></span>
																	<i class="feather-users online-icon"></i> Instant Consulting
																</label>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!-- /Filter Grid -->

											<!-- Filter Grid -->
											<div class="filter-grid">
												<h4>
													<a href="#collapseseven" data-bs-toggle="collapse">By Rating</a>
												</h4>
												<div id="collapseseven" class="collapse show">
													<div class="filter-collapse">
														<ul>
															<li>
																<label class="custom_check rating_custom_check d-inline-flex">  
																	<input type="checkbox" name="online">
																	<span class="checkmark"></span>
																	<div class="rating">
																		<i class="fas fa-star filled"></i>
																		<i class="fas fa-star filled"></i>
																		<i class="fas fa-star filled"></i>
																		<i class="fas fa-star filled"></i>
																		<i class="fas fa-star filled"></i>
																		<span class="rating-count">(40)</span>
																	</div>
																</label>
															</li>
															<li>
																<label class="custom_check rating_custom_check d-inline-flex">  
																	<input type="checkbox" name="online">
																	<span class="checkmark"></span>
																	<div class="rating">
																		<i class="fas fa-star filled"></i>
																		<i class="fas fa-star filled"></i>
																		<i class="fas fa-star filled"></i>
																		<i class="fas fa-star filled"></i>
																		<i class="fas fa-star"></i>
																		<span class="rating-count">(35)</span>
																	</div>
																</label>
															</li>
															<li>
																<label class="custom_check rating_custom_check d-inline-flex">  
																	<input type="checkbox" name="online">
																	<span class="checkmark"></span>
																	<div class="rating">
																		<i class="fas fa-star filled"></i>
																		<i class="fas fa-star filled"></i>
																		<i class="fas fa-star filled"></i>
																		<i class="fas fa-star"></i>
																		<i class="fas fa-star"></i>
																		<span class="rating-count">(20)</span>
																	</div>
																</label>
															</li>
															<li>
																<label class="custom_check rating_custom_check d-inline-flex">  
																	<input type="checkbox" name="online">
																	<span class="checkmark"></span>
																	<div class="rating">
																		<i class="fas fa-star filled"></i>
																		<i class="fas fa-star filled"></i>
																		<i class="fas fa-star"></i>
																		<i class="fas fa-star"></i>
																		<i class="fas fa-star"></i>
																		<span class="rating-count">(10)</span>
																	</div>
																</label>
															</li>
															<li>
																<label class="custom_check rating_custom_check d-inline-flex">  
																	<input type="checkbox" name="online">
																	<span class="checkmark"></span>
																	<div class="rating">
																		<i class="fas fa-star filled"></i>
																		<i class="fas fa-star"></i>
																		<i class="fas fa-star"></i>
																		<i class="fas fa-star"></i>
																		<i class="fas fa-star"></i>
																		<span class="rating-count">(05)</span>
																	</div>
																</label>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!-- /Filter Grid -->

											<!-- Filter Grid -->
											<div class="filter-grid">
												<h4>
													<a href="#collapseeight" data-bs-toggle="collapse">Languages</a>
												</h4>
												<div id="collapseeight" class="collapse show">
													<div class="filter-collapse">
														<ul>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="language">
																	<span class="checkmark"></span>
																	English
																</label>
															</li>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="language">
																	<span class="checkmark"></span>
																	French
																</label>
															</li>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="language">
																	<span class="checkmark"></span>
																	Spanish
																</label>
															</li>
															<li>
																<label class="custom_check d-inline-flex">  
																	<input type="checkbox" name="language">
																	<span class="checkmark"></span>
																	German
																</label>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!-- /Filter Grid -->

											<!-- Filter Btn -->
											<div class="filter-btn apply-btn">
												<div class="row">
													<div class="col-6">
														<a href="javascript:void(0);" class="btn btn-primary">Apply</a>
													</div>
													<div class="col-6">
														<a href="javascript:void(0);" class="btn btn-outline-primary">Reset</a>
													</div>
												</div>
											</div>
											<!-- /Filter Btn -->

										</div>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="doctor-filter-info">
										<div class="doctor-filter-inner">
											<div>
												<div class="doctors-found">
													<p><span>100 Doctors found for:</span> Dentist in San francisco, California</p>
												</div>
												<div class="doctor-filter-availability">
													<p>Availability</p>
													<div class="status-toggle status-tog">
														<input type="checkbox" id="status_6" class="check">
														<label for="status_6" class="checktoggle">checkbox</label>
													</div>
												</div>
											</div>
											<div class="doctor-filter-option">
												<div class="doctor-filter-sort">
													<p>Sort</p>
													<div class="doctor-filter-select">
														<select class="select">
															<option>A to Z</option>
															<option>B to Z</option>
															<option>C to Z</option>
															<option>D to Z</option>
															<option>E to Z</option>
														</select>
													</div>
												</div>
												<div class="doctor-filter-sort">
													<p class="filter-today d-flex align-items-center">
														<i class="feather-calendar"></i> Today 10 Aug to 20 Aug
													</p>
												</div>
												<div class="doctor-filter-sort">
													<ul class="nav">
														<li>
															<a href="javascript:void(0);" id="map-list">
																<i class="feather-map-pin"></i>
															</a>
														</li>
														<li>
															<a href="doctor-search-grid.html">
																<i class="feather-grid"></i>
															</a>
														</li>
														<li>
															<a href="doctor-search-list.html" class="active">
																<i class="feather-list"></i>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="card doctor-card">
										<div class="card-body">
											<div class="doctor-widget-one">
												<div class="doc-info-left">
													<div class="doctor-img">
														<a href="doctor-profile.html">
															<img src="assets/img/doctors/doctor-13.jpg" class="img-fluid" alt="">
														</a>
														<div class="favourite-btn">
															<a href="javascript:void(0)" class="favourite-icon">
																<i class="fas fa-heart"></i>
															</a>
														</div>
													</div>
													<div class="doc-info-cont">
														<h4 class="doc-name">
															<a href="doctor-profile.html">Dr.John Doe</a>
															<i class="fas fa-circle-check"></i>
														</h4>
														<p class="doc-speciality">MBBS, Dentist</p>
														<div class="clinic-details">
															<p class="doc-location">
																<i class="feather-map-pin"></i>
																<span>0.9</span> mi - Newyork, USA <a href="javascript:void(0);">Get Direction</a>
															</p>
															<p class="doc-location">
																<i class="feather-award"></i> <span>20</span> Years of Experience
															</p>
														</div>
														<div class="reviews-ratings">
															<p>
																<span><i class="fas fa-star"></i> 4.5</span> (35 Reviews)
															</p>
														</div>
													</div>
												</div>
												<div class="doc-info-right">
													<div class="clini-infos">
														<ul>
															<li>
																<i class="feather-clock available-icon"></i> 
																<span class="available-date available-today">Available Today</span>
															</li>
															<li><i class="feather-thumbs-up available-icon"></i> 98% <span class="votes">(252 Votes)</span></li>
															<li><i class="feather-dollar-sign available-icon"></i> $1500 <i class="feather-info available-info-icon"></i></li>
														</ul>
													</div>
													<div class="clinic-booking book-appoint">
														<a class="btn btn-primary" href="booking.html">Book Appointment</a>
														<a class="btn btn-primary-light" href="booking-2.html">Book Online Consultation</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card doctor-card">
										<div class="card-body">
											<div class="doctor-widget-one">
												<div class="doc-info-left">
													<div class="doctor-img">
														<a href="doctor-profile.html">
															<img src="assets/img/doctors/doctor-14.jpg" class="img-fluid" alt="">
														</a>
														<div class="favourite-btn">
															<a href="javascript:void(0)" class="favourite-icon">
																<i class="fas fa-heart"></i>
															</a>
														</div>
													</div>
													<div class="doc-info-cont">
														<h4 class="doc-name">
															<a href="doctor-profile.html">Dr. Darren Elder</a>
															<i class="fas fa-circle-check"></i>
														</h4>
														<p class="doc-speciality">BDS, MDS - Oral & Maxillofacial Surgery</p>
														<div class="clinic-details">
															<p class="doc-location">
																<i class="feather-map-pin"></i>
																1.1 mi - Georgia, USA <a href="javascript:void(0);">Get Direction</a>
															</p>
															<p class="doc-location">
																<i class="feather-award"></i> 15 Years of Experience
															</p>
														</div>
														<div class="reviews-ratings">
															<p>
																<span><i class="fas fa-star"></i> 4.3</span> (22 Reviews)
															</p>
														</div>
													</div>
												</div>
												<div class="doc-info-right">
													<div class="clini-infos">
														<ul>
															<li>
																<i class="feather-clock available-icon"></i> 
																<span class="available-date available-tomorrow">Available Tomorrow</span>
															</li>
															<li><i class="feather-thumbs-up available-icon"></i> 90% <span class="votes">(380 Votes)</span></li>
															<li><i class="feather-dollar-sign available-icon"></i> $2800 <i class="feather-info available-info-icon"></i></li>
														</ul>
													</div>
													<div class="clinic-booking book-appoint">
														<a class="btn btn-primary" href="booking.html">Book Appointment</a>
														<a class="btn btn-primary-light" href="booking-2.html">Book Online Consultation</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card doctor-card">
										<div class="card-body">
											<div class="doctor-widget-one">
												<div class="doc-info-left">
													<div class="doctor-img">
														<a href="doctor-profile.html">
															<img src="assets/img/doctors/doctor-15.jpg" class="img-fluid" alt="">
														</a>
														<div class="favourite-btn">
															<a href="javascript:void(0)" class="favourite-icon">
																<i class="fas fa-heart"></i>
															</a>
														</div>
													</div>
													<div class="doc-info-cont">
														<h4 class="doc-name">
															<a href="doctor-profile.html">Dr. Sofia Brient</a>
															<i class="fas fa-circle-check"></i>
														</h4>
														<p class="doc-speciality">MBBS, Dentist</p>
														<div class="clinic-details">
															<p class="doc-location">
																<i class="feather-map-pin"></i>
																<span>0.9</span> mi - Newyork, USA <a href="javascript:void(0);">Get Direction</a>
															</p>
															<p class="doc-location">
																<i class="feather-award"></i> <span>20</span> Years of Experience
															</p>
														</div>
														<div class="reviews-ratings">
															<p>
																<span><i class="fas fa-star"></i> 4.5</span> (35 Reviews)
															</p>
														</div>
													</div>
												</div>
												<div class="doc-info-right">
													<div class="clini-infos">
														<ul>
															<li>
																<i class="feather-clock available-icon"></i> 
																<span class="available-date available-today">Available Today</span>
															</li>
															<li><i class="feather-thumbs-up available-icon"></i> 98% <span class="votes">(252 Votes)</span></li>
															<li><i class="feather-dollar-sign available-icon"></i> $1500 <i class="feather-info available-info-icon"></i></li>
														</ul>
													</div>
													<div class="clinic-booking book-appoint">
														<a class="btn btn-primary" href="booking.html">Book Appointment</a>
														<a class="btn btn-primary-light" href="booking-2.html">Book Online Consultation</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card doctor-card">
										<div class="card-body">
											<div class="doctor-widget-one">
												<div class="doc-info-left">
													<div class="doctor-img">
														<a href="doctor-profile.html">
															<img src="assets/img/doctors/doctor-16.jpg" class="img-fluid" alt="">
														</a>
														<div class="favourite-btn">
															<a href="javascript:void(0)" class="favourite-icon">
																<i class="fas fa-heart"></i>
															</a>
														</div>
													</div>
													<div class="doc-info-cont">
														<h4 class="doc-name">
															<a href="doctor-profile.html">Dr. Johny Rita</a>
															<i class="fas fa-circle-check"></i>
														</h4>
														<p class="doc-speciality">MBBS, Dentist</p>
														<div class="clinic-details">
															<p class="doc-location">
																<i class="feather-map-pin"></i>
																<span>0.9</span> mi - Newyork, USA <a href="javascript:void(0);">Get Direction</a>
															</p>
															<p class="doc-location">
																<i class="feather-award"></i> <span>20</span> Years of Experience
															</p>
														</div>
														<div class="reviews-ratings">
															<p>
																<span><i class="fas fa-star"></i> 4.5</span> (35 Reviews)
															</p>
														</div>
													</div>
												</div>
												<div class="doc-info-right">
													<div class="clini-infos">
														<ul>
															<li>
																<i class="feather-clock available-icon"></i> 
																<span class="available-date available-today">Available Today</span>
															</li>
															<li><i class="feather-thumbs-up available-icon"></i> 98% <span class="votes">(252 Votes)</span></li>
															<li><i class="feather-dollar-sign available-icon"></i> $1500 <i class="feather-info available-info-icon"></i></li>
														</ul>
													</div>
													<div class="clinic-booking book-appoint">
														<a class="btn btn-primary" href="booking.html">Book Appointment</a>
														<a class="btn btn-primary-light" href="booking-2.html">Book Online Consultation</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card doctor-card">
										<div class="card-body">
											<div class="doctor-widget-one">
												<div class="doc-info-left">
													<div class="doctor-img">
														<a href="doctor-profile.html">
															<img src="assets/img/doctors/doctor-17.jpg" class="img-fluid" alt="">
														</a>
														<div class="favourite-btn">
															<a href="javascript:void(0)" class="favourite-icon">
																<i class="fas fa-heart"></i>
															</a>
														</div>
													</div>
													<div class="doc-info-cont">
														<h4 class="doc-name">
															<a href="doctor-profile.html">Dr. Deborah Angel</a>
															<i class="fas fa-circle-check"></i>
														</h4>
														<p class="doc-speciality">MBBS, Dentist</p>
														<div class="clinic-details">
															<p class="doc-location">
																<i class="feather-map-pin"></i>
																<span>0.9</span> mi - Newyork, USA <a href="javascript:void(0);">Get Direction</a>
															</p>
															<p class="doc-location">
																<i class="feather-award"></i> <span>20</span> Years of Experience
															</p>
														</div>
														<div class="reviews-ratings">
															<p>
																<span><i class="fas fa-star"></i> 4.5</span> (35 Reviews)
															</p>
														</div>
													</div>
												</div>
												<div class="doc-info-right">
													<div class="clini-infos">
														<ul>
															<li>
																<i class="feather-clock available-icon"></i> 
																<span class="available-date available-today">Available Today</span>
															</li>
															<li><i class="feather-thumbs-up available-icon"></i> 98% <span class="votes">(252 Votes)</span></li>
															<li><i class="feather-dollar-sign available-icon"></i> $1500 <i class="feather-info available-info-icon"></i></li>
														</ul>
													</div>
													<div class="clinic-booking book-appoint">
														<a class="btn btn-primary" href="booking.html">Book Appointment</a>
														<a class="btn btn-primary-light" href="booking-2.html">Book Online Consultation</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="blog-pagination rev-page">
												<nav>
													<ul class="pagination justify-content-center">
														<li class="page-item disabled">
															<a class="page-link page-prev" href="#" tabindex="-1"><i class="feather-chevrons-left me-1"></i> PREV</a>
														</li>
														<li class="page-item active">
															<a class="page-link" href="#">1</a>
														</li>
														<li class="page-item">
															<a class="page-link" href="#">2</a>
														</li>
														<li class="page-item">
															<a class="page-link" href="#">...</a>
														</li>
														<li class="page-item">
															<a class="page-link" href="#">10</a>
														</li>
														<li class="page-item">
															<a class="page-link page-next" href="#">NEXT <i class="feather-chevrons-right ms-1"></i></a>
														</li>
													</ul>
												</nav>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-12 theiaStickySidebar map-right">
							<div id="map" class="map-listing"></div>
						</div>
					</div>
					<!-- /Doctor Search List -->

				</div>
			</div>		
			<!-- /Page Content -->	

			<!-- Footer -->
			<footer class="footer footer-one">
				<div class="footer-top">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-4">
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="assets/img/logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Patients</h2>
									<ul>
										<li><a href="search.html">Search for Doctors</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="register.html">Register</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Doctors</h2>
									<ul>
										<li><a href="appointments.html">Appointments</a></li>
										<li><a href="chat.html">Chat</a></li>
										<li><a href="login.html">Login</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-2 col-md-5">
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<p><i class="feather-map-pin"></i> 3556 Beech Street, USA</p>
										</div>
										<div class="footer-address">
											<p><i class="feather-phone-call"></i> +1 315 369 5943</p>
										</div>
										<div class="footer-address mb-0">
											<p><i class="feather-mail"></i> doccure@example.com</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-7">
								<div class="footer-widget">
									<h2 class="footer-title">Join Our Newsletter</h2>
									<div class="subscribe-form">
										<form action="#">
		                                    <input type="email" class="form-control" placeholder="Enter Email">
		                                    <button type="submit" class="btn">Submit</button>
	                                    </form>
	                                </div>
									<div class="social-icon">
										<ul>
											<li>
												<a href="javascript:;" target="_blank"><i class="fab fa-facebook"></i> </a>
											</li>
											<li>
												<a href="javascript:;" target="_blank"><i class="fab fa-instagram"></i></a>
											</li>
											<li>
												<a href="javascript:;" target="_blank"><i class="fab fa-twitter"></i> </a>
											</li>
											<li>
												<a href="javascript:;" target="_blank"><i class="fab fa-linkedin-in"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="container">
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0"> Copyright © 2023 <a href="https://themeforest.net/user/dreamguys/portfolio" target="_blank">Dreamguys.</a> All Rights Reserved</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="privacy-policy.html">Privacy Policy</a></li>
											<li><a href="terms-condition.html">Terms and Conditions</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->					
					</div>
				</div>
			</footer>
			<!-- /Footer -->

			<!-- Cursor -->
			<div class="mouse-cursor cursor-outer"></div>
			<div class="mouse-cursor cursor-inner"></div>
			<!-- /Cursor -->

		</div>		
		<!-- /Main Wrapper -->
	
		<!-- jQuery -->
		<script src="assets/js/jquery-3.6.4.min.js"></script>
		
		<!-- Bootstrap Bundle JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Feather Icon JS -->
		<script src="assets/js/feather.min.js"></script>

		<!-- Select2 JS -->
		<script src="assets/plugins/select2/js/select2.min.js"></script>

		<!-- Jquery UI -->
		<script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>

		<!-- Sticky Sidebar JS -->
		<script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
		<script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>	

		<!-- Map JS -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6adZVdzTvBpE2yBRK8cDfsss8QXChK0I"></script>
		<script src="assets/js/map.js"></script>

		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
	
	</body>
</html>